#bg {
  background: #F8F8F8;
  padding: 100px 0;

  .accordion {
    &--type {
      margin: 15px 0;

      &__folower {
        transition: 1s;
        width: 1276px;
        height: 620px;
        background: #FFFFFF;
        overflow: hidden;
        border-radius: 25px;

        &--folower2 {
          position: relative;

          &__folower3 {
            position: absolute;
            top: 16px;
            left: 6px;
            width: 98%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--icon {
              font-size: 30px;
              //transform: rotate(1deg);
              transition: 1s;
            }

            &--folower4 {
              display: flex;
              align-items: center;

              h1 {
                padding: 10px 0;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 22px;
                /* identical to box height, or 92% */

                display: flex;
                align-items: center;
                text-align: center;

                color: #000000;
              }

            }
          }
        }

        &--this {
          padding: 33px 0;
          display: flex;
          align-items: center;
          justify-content: space-around;

          &__those {
            p {
              width: 592px;
              font-family: 'SF Pro Display', sans-serif;
              font-weight: 400;
              font-size: 19px;
              line-height: 130%;
              color: rgba(27, 27, 27, 0.8);
            }

            &__that {
              li {
                font-family: 'SF Pro Display', sans-serif;
                font-weight: 400;
                font-size: 19px;
                line-height: 170%;
                color: #1B1B1B;


              }
            }
          }
        }
      }
    }
  }

  .accordionFront {
  }

}

@media (max-width: 1140px) {
  #bg {
    .accordion {
      &--type {
        &__folower {
          width: 1029px;
          height: 620px;
          background: #FFFFFF;
          overflow: hidden;
          border-radius: 25px;

          &--folower2 {
            &__folower3 {
              &__folower4 {
                &--icon {


                }
              }
            }
          }

          &--this {
            &__those {
              margin: 0 -9rem 0 0;

              p {

              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #bg {
    .accordion {
      &--type {
        &__folower {
          width: 1081px;
          height: 620px;
          background: #FFFFFF;
          overflow: hidden;
          border-radius: 25px;

          &--folower2 {
            &__folower3 {
              &__folower4 {
                h1 {
                  padding: 10px -6px;

                }

                &--icon {


                }
              }
            }
          }

          &--this {
            &__those {
              margin: 0 -14rem 0 0;

              p {

              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #bg {
    .accordion {
      &--type {
        &__folower {
          width: 921px;
          height: 620px;
          overflow: hidden;
          border-radius: 25px;

          &--folower2 {
            &__folower3 {
              &__folower4 {
                &--icon {


                }
              }
            }
          }

          &--this {
            padding: 59px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__those {

              margin-left: 36px;

              p {
                width: 499px;

              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 999px) {
  #bg {
    .accordion {
      &--type {
        &__folower {
          width: 823px;
          height: 620px;

          &--folower2 {
            &__folower3 {
              &__folower4 {
                &--icon {


                }
              }
            }
          }

          &--this {
            padding: 59px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__those {

              margin-left: 36px;

              p {
                width: 499px;

              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #bg {
    .accordion {
      &--type {
        &__folower {
          width: 761px;
          height: 620px;

          img {
            margin-left: 94px;

          }

          &--folower2 {
            &__folower3 {
              &__folower4 {
                &--icon {


                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #bg {
    .accordion {
      &--type {
        &__folower {
          width: 669px;

          &--folower2 {
            &__folower3 {
              position: absolute;
              top: 16px;
              left: -90px;
              width: 111%;

              &__folower4 {
                &--icon {


                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #bg {
    .accordion {
      &--type {
        margin-left: 36px;

        &__folower {
          width: 401px;
          height: 768px;

          &--key {
            display: none;
          }

          &--folower2 {
            &__folower3 {
              width: 117%;

              &__folower4 {
                &--icon {


                }
              }
            }
          }

          &--this {
            &__those {
              padding: 1rem 0 0 0;
              margin-left: 3rem;

              p {
                width: 324px;
              }


            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #bg {
    .accordion {
      &--type {
        margin-left: 2px;

        &__folower {
          width: 401px;
          height: 768px;

          &--key {
            display: none;
          }

          &--folower2 {
            &__folower3 {
              width: 117%;

              &__folower4 {
                &--icon {


                }
              }
            }
          }

          &--this {
            &__those {
              padding: 1rem 0 0 0;
              margin-left: 3rem;

              p {
                width: 324px;
              }


            }
          }
        }
      }
    }
  }

}

@media (max-width: 430px) {
  #bg {
    .accordion {
      &--type {
        margin-left: 2px;

        &__folower {
          width: 362px;
          height: 838px;


          &--key {
            display: none;
          }

          &--folower2 {
            &__folower3 {
              width: 117%;

              &__folower4 {
                h1 {
                  font-size: 20px;

                }

                &--icon {


                }
              }
            }
          }

          &--this {
            &__those {
              padding: 1rem 0 0 0;
              margin-left: 3rem;

              p {
                width: 298px;
              }

              &__that {
                width: 89%;

                li {

                }


              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 414px) {
}

@media (max-width: 400px) {
  #bg {
    .accordion {
      &--type {
        margin-left: 2px;

        &__folower {
          width: 362px;
          height: 838px;


          &--key {
            display: none;
          }

          &--folower2 {
            &__folower3 {
              width: 117%;

              &--folower4 {
                h1 {
                  font-size: 21px;

                }

                &--icon {


                }
              }
            }
          }

          &--this {
            &__those {
              padding: 1rem 0 0 0;
              margin-left: 3rem;

              p {
                width: 298px;
              }

              &__that {
                width: 89%;

                li {

                }


              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  #bg {
    .accordion {
      &--type {
        &__folower {
          width: 1081px;
          height: 620px;
          background: #FFFFFF;
          overflow: hidden;
          border-radius: 25px;

          &--folower2 {
            &__folower3 {
              &__folower4 {
                &--icon {


                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 388px) {
  #bg {
    .accordion {
      &--type {
        &__folower {
          width: 1081px;
          height: 620px;
          background: #FFFFFF;
          overflow: hidden;
          border-radius: 25px;

          &--folower2 {
            &__folower3 {
              &__folower4 {
                &--icon {


                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  #bg {
    .accordion {
      &--type {
        &__folower {
          width: 351px;
          height: 793px;

          &--folower2 {
            &__folower3 {
              &__folower4 {
                h4 {
                  font-size: 18px;
                  margin-left: 18px;
                }

                &--icon {


                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 389px) {
  #bg {
    .accordion {
      &--type {
        &__folower {
          width: 336px;
          height: 793px;

          &--folower2 {
            &__folower3 {
              &__folower4 {
                h4 {
                  font-size: 18px;
                  margin-left: 18px;
                }

                &--icon {


                }
              }
            }
          }

          &--this {
            &__those {
              p {
                width: 278px;

              }

              &--that {
                width: 83%;

              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 370px) {
  #bg {
    .accordion {
      &--type {
        &__folower {
          width: 323px;
          height: 793px;

          &--folower2 {
            &__folower3 {
              &__folower4 {
                h4 {
                  font-size: 18px;
                  margin-left: 18px;
                }

                &--icon {


                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  #bg {
    .accordion {
      &--type {
        &__folower {
          width: 323px;
          height: 656px;

          h1 {
            font-size: 17px;
            margin-left: 46px;
          }


          &--this {
            &__those {


              li {
                font-size: 12px;
              }


              p {
                width: 249px;
                font-size: 16px;
              }
            }
          }

          &--folower2 {
            &__folower3 {
              width: 125%;

              &--folower4 {
                h4 {
                  font-size: 19px;

                }

                &--icon {


                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 350px) {
  #bg {
    .accordion {
      &--type {
        &__folower {
          width: 284px;
          height: 738px;


          h1 {
            font-size: 16px;
            margin-left: 4px;
          }


          &--this {
            &__those {

              margin-left: 2rem;


                   li {
                     width: 99%;
                     font-size: 12px;
                   }





              p {
                padding: 0 0 27px 0;
                width: 234px;
                font-size: 16px;
              }
            }
          }

          &--folower2 {
            &__folower3 {
              width: 125%;

              &--folower4 {
                h4 {
                  font-size: 19px;

                }

                &--icon {


                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 321px) {
  #bg {
    .accordion {
      &--type {
        &__folower {
          width: 284px;
          height: 656px;

          h1 {
            font-size: 17px;
            margin-left: 46px;
          }


          &--this {
            &__those {


              li {
                font-size: 12px;
              }


              p {
                width: 249px;
                font-size: 16px;
              }
            }
          }

          &--folower2 {
            &__folower3 {
              width: 125%;

              &--folower4 {
                h4 {
                  font-size: 19px;

                }

                &--icon {


                }
              }
            }
          }
        }
      }
    }
  }
}
