#designer {
  padding: 70px 0;

  .designer{

    &--choose {
      width: 1280px;
      height: 179px;
      left: 110px;
      top: 4052px;
      background: #FF563F;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px 0;

      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #FFFFFF;
      }

      p {
        font-weight: 400;
        font-size: 19px;
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.8);
      }

    }

    &--fon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 30px 0;

      &__application {
        width: 800px;
        height: 344px;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        //align-items: center;
        //justify-content: center;
        background: #FF563F;
        border-radius: 30px;
        flex-direction: column;


        input {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 630px;
          height: 63px;
          padding: 0 20px;
          background: #FFF8F8;
          border-radius: 20px;
          margin: 10px 0;

        }

        &--checked {
          width: 646px;
          margin: 10px 0;
        }

        &--checked {
          display: flex;
          //align-items: center;

          input {
            width: 15px;
            height: 15px;
            margin: 0 10px;
          }
          .input{
            background: transparent;
          }

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: rgba(255, 255, 255, 0.7);
          }
        }

        button {
          padding: 17px 0;
          width: 629px;
          background: #090A0C;
          border-radius: 44px;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;

          color: #FFFFFF;
          margin: 10px 82px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #designer .designer--choose {
    width: 1037px;
  }
  #designer .designer--fon__application {
    width: 645px;
  }
  #designer .designer--fon {
    grid-column-gap: 20px;
  }
  #designer .designer--fon__application input {
    width: 589px;
    height: 63px;
  }
  #designer .designer--fon__application--checked .input {
    background: transparent;
    width: 20px;
    height: 20px;
    margin-left: 45px;
  }
  #designer .designer--fon__application button {
    width: 544px;
  }
}

@media (max-width: 1140px) {
  #designer .designer--fon__application {
    width: 603px;
  }
    #designer .designer--fon__application input {
      width: 547px;
      height: 63px;
    }
  #designer .designer--fon__application--checked .input {
    background: transparent;
    width: 15px;
    height: 15px;
    margin-left: 66px;
  }
  #designer .designer--choose {
    width: 1013px;
  }
}

@media (max-width: 1040px) {
  #designer .designer--choose {
    width: 959px;
  }
  #designer .designer--fon__application {
    width: 607px;
    margin-left: 175px;
  }
  #designer .designer--fon__application input {
    width: 530px;
  }
  #designer .designer--fon__application button {
    width: 527px;
  }
  #designer .designer--fon {
    grid-column-gap: 0;
    img{
      display: none;
    }
  }

}

@media (max-width: 992px) {
  #designer .designer--choose {
    width: 786px;
    h2 {
      font-weight: 700;
      font-size: 42px;
      line-height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #FFFFFF;
    }
  }
  #designer .designer--fon__application {
    width: 607px;
    margin-left: 81px;
  }
  #designer .designer--fon__application input {
    width: 530px;
  }
  #designer .designer--fon__application button {
    width: 527px;
  }
  #designer .designer--fon {
    grid-column-gap: 0;
    img{
      display: none;
    }
  }

}

@media (max-width: 768px) {
  #designer {
    padding: 70px 0;

    .designer{

      &--choose {
        width: 684px;
        height: 179px;
        left: 110px;
        top: 4052px;
        background: #FF563F;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0;

        h2 {
          font-weight: 700;
          font-size: 38px;
          line-height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: #FFFFFF;
        }

        p {
          font-weight: 400;
          font-size: 19px;
          line-height: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgba(255, 255, 255, 0.8);
        }

      }

      &--fon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;

        img{
          display: none;
        }

        &__application {
          width: 626px;
          height: 344px;
          margin-left: 36px;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #FF563F;
          border-radius: 30px;
          flex-direction: column;


          input {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 544px;
            height: 63px;
            padding: 0 20px;
            background: #FFF8F8;
            border-radius: 20px;
            margin: 10px 0;

          }

          &--checked {
            width: 646px;
            margin: 10px 0;
          }

          &--checked {
            display: flex;
            //align-items: center;

            input {
              width: 15px;
              height: 15px;
              margin: 0 10px;
            }
            .input{
              background: transparent;
            }

            p {
              font-weight: 400;
              font-size: 14px;
              line-height: 130%;
              color: rgba(255, 255, 255, 0.7);
            }
          }

          button {
            padding: 17px 0;
            width: 532px;
            background: #090A0C;
            border-radius: 44px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

            color: #FFFFFF;
            margin: 10px 82px;
          }
        }
      }
    }
  }

}

@media (max-width: 576px) {
  #designer {
    padding: 70px 0;
    background: #FF563F;

    .designer{

      &--choose {
        left: 110px;
        top: 4052px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: transparent;
        padding: 10px 0;
        width: 0;
        margin-left: 463px;

        h2 {
          font-weight: 700;
          font-size: 31px;
          line-height: 0;
          color: #FFFFFF;
          margin-left: -440px;

        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 2;
          margin-left: -462px;
          color: rgba(255, 255, 255, 0.8);
        }

      }

      &--fon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: -31px 0;

        img{
          display: none;
        }
        &__application {
          width: 255px;
          height: 296px;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          //align-items: center;
          //justify-content: center;
          border-radius: 30px;
          flex-direction: column;


          input {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 420px;
            height: 45px;
            padding: 0 20px;
            background: #FFF8F8;
            border-radius: 20px;
            margin: 10px 0 8px 147px;
          }

          &--checked {
            margin: 10px 0;
          }

          &--checked {
            display: flex;
            margin: 10px 0 0 -130px;

            input {
              width: 15px;
              height: 15px;
              margin: 0 10px;
            }
            .input{
              background: transparent;
              margin-left: 268px;
            }

            p {
              font-weight: 400;
              font-size: 14px;
              line-height: 130%;
              color: rgba(255, 255, 255, 0.7);
            }
          }

          button {
            padding: 9px 0;
            width: 327px;
            background: #090A0C;
            border-radius: 44px;
            font-weight: 500;
            font-size: 13px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            margin: 10px 0 0 107px;
          }
        }
      }
    }
  }

}

@media (max-width: 451px) {
  #designer {
    padding: 50px 0;
    background: #FF563F;

    .designer{

      &--choose {
        left: 0;
        top: 0;
        background: #FF563F;
        width: 0;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0;
        margin-bottom: -46px;

        h2 {
          font-weight: 700;
          font-size: 26px;
          line-height: 0;
          color: #FFFFFF;
          margin-left: -575px;

        }

        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 2;
          margin-left: -590px;
          color: rgba(255, 255, 255, 0.8);
        }

      }

      &--fon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: -31px 0;

        img{
          display: none;
        }
        &__application {
          width: 255px;
          height: 296px;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          //align-items: center;
          //justify-content: center;
          background: #FF563F;
          border-radius: 30px;
          flex-direction: column;


          input {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 379px;
            height: 41px;
            padding: 0 20px;
            background: #FFF8F8;
            border-radius: 20px;
            margin: 10px 0 8px 59px;
          }


          &--checked {
            display: flex;
            align-items: center;

            .input{
              margin-left: 15rem;
            }

            p {
                font-size: 15px;
                width: 23rem;
            }
          }

          button {
            padding: 8px 0;
            width: 280px;
            background: #090A0C;
            border-radius: 44px;
            font-weight: 500;
            font-size: 13px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            margin: 10px 0 0 37px;
          }
        }
      }
    }
  }

}

@media (max-width: 400px) {
  #designer {
    padding: 70px 0;
    background: #FF563F;

    .designer{

      &--choose {
        width: 280px;
        height: 95px;
        left: 110px;
        top: 4052px;
        background: transparent;
        margin: 0 0 0 0 ;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0;

        h2 {
          font-weight: 700;
          font-size: 20px;
          line-height: 0;
          color: #FFFFFF;
          margin-left: 0;

        }

        p {
          font-weight: 400;
          font-size: 9px;
          line-height: 0;
          margin-left: -20px;
          color: rgba(255, 255, 255, 0.8);
        }

      }

      &--fon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: -31px 0;

        img{
          display: none;
        }
        &__application {
          width: 255px;
          height: 296px;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          //align-items: center;
          //justify-content: center;
          background: #FF563F;
          border-radius: 30px;
          flex-direction: column;


          input {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 325px;
            height: 41px;
            padding: 0 20px;
            background: #FFF8F8;
            border-radius: 20px;
            margin: 10px 0 8px 17px;
          }

          &--checked {
            display: flex;
            //align-items: center;

           .input {
            padding: 5px 5px;
              margin: 0 9px 0 15rem;
              background: transparent;

            }
            p {
              font-size: 14px;
              line-height: 130%;
              width: 336px;
            }
          }

          button {
            padding: 8px 0;
            width: 260px;
            background: #090A0C;
            border-radius: 44px;
            font-weight: 500;
            font-size: 13px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

            color: #FFFFFF;
            margin: 10px 82px;
          }
        }
      }
    }
  }

}

@media (max-width: 376px) {
  #designer {
    padding: 70px 0;
    background: #FF563F;

    .designer{

      &--choose {
        width: 280px;
        height: 95px;
        left: 110px;
        top: 4052px;
        background: #FF563F;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0;

        h2 {
          font-weight: 700;
          font-size: 20px;
          line-height: 0;
          color: #FFFFFF;
          margin-left: 0;

        }

        p {
          font-weight: 400;
          font-size: 9px;
          line-height: 0;
          margin-left: -20px;
          color: rgba(255, 255, 255, 0.8);
        }

      }

      &--fon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: -31px 0;

        img{
          display: none;
        }
        &__application {
          width: 255px;
          height: 296px;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          //align-items: center;
          //justify-content: center;
          background: #FF563F;
          border-radius: 30px;
          flex-direction: column;


          input {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 301px;
            height: 41px;
            padding: 0 20px;
            background: #FFF8F8;
            border-radius: 20px;
            margin: 10px 0 8px 41px;

          }



          &--checked {
            display: flex;
            align-items: center;
              width: 0;
              margin: 10px 0;


            .input{
              background: transparent;
              margin: 0 7px 0 -114px;
            }

            p {
              font-size: 14px;
              line-height: 130%;
              width: 300px;
            }
          }

          button {
            padding: 8px 0;
            width: 260px;
            background: #090A0C;
            border-radius: 44px;
            font-size: 13px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

            color: #FFFFFF;
            margin: 10px 82px;
          }
        }
      }
    }
  }

}

@media (max-width: 320px) {
  #designer {
    padding: 70px 0;
    background: #FF563F;

    .designer{

      &--choose {
        width: 280px;
        height: 95px;
        left: 110px;
        top: 4052px;
        background: #FF563F;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0;

        h2 {
          font-weight: 700;
          font-size: 20px;
          line-height: 0;
          color: #FFFFFF;
          margin-left: 0;

        }

        p {
            font-weight: 400;
            font-size: 11px;
            line-height: 0;
            margin-left: -10px;
        }

      }

      &--fon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: -31px 0;

        img{
          display: none;
        }
        &__application {
          width: 255px;
          height: 296px;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #FF563F;
          border-radius: 30px;
          flex-direction: column;


          input {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 41px;
            width: 252px;
            margin: 10px 0 0 -33px;
            padding: 0 20px;
            background: #FFF8F8;
            border-radius: 20px;

          }



          &--checked {
            display: flex;
            //align-items: center;


            .input{
              background: transparent;
              margin-left: -125px;
            }

            p {
              font-weight: 400;
              font-size: 14px;
              line-height: 130%;
              color: rgba(255, 255, 255, 0.7);
            }
          }

          button {
            padding: 8px 0;
            width: 229px;
            background: #090A0C;
            border-radius: 44px;
            font-weight: 500;
            font-size: 13px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            margin: 10px 62px 0 23px;          }
        }
      }
    }
  }

}
