#courses {

  padding: 50px 0;
  h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
    //margin: 55px 0;
    margin: 100px 0;
    width: 262px;

  }
  .frontEnd--courses{
    &__inform {
      display: flex;
      justify-content: space-around;


      &--first {
        &__fon {
          width: 380px;
          height: 202px;
          left: 110px;
          top: 1430px;
          background: linear-gradient(180deg, #EDF1FF 0%, rgba(203, 214, 255, 0.65) 100%);
          border-radius: 20px;
          display: flex;
          justify-content: center;

          img {
            width: 196px;
            height: 170px;
            left: 202px;
            padding: 31px;

          }
        }

        h3 {
          font-weight: 400;
          font-size: 24px;
          line-height: 80px;
          display: flex;
          align-items: center;
          color: #000000;
        }

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 130%;
          /* or 23px */

          display: flex;
          align-items: center;

          color: rgba(27, 27, 27, 0.8);

        }
      }
    }

  }
  .frontEnd--title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px 0;
    //margin: 70px 0;

    width: 1280px;
    height: 229px;
    left: 110px;
    top: 1866px;

    /* red */

    border: 2px solid #EC3025;
    border-radius: 125px;

    &__first {
      padding: 0 60px;

      h1 {
        font-weight: 500;
        font-size: 64px;
        line-height: 64px;
        display: flex;
        align-items: center;
        color: #EC3025;
        flex-direction: column;
        text-align: center;

        span {
          margin: 10px 0;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          display: flex;
          align-items: center;

          color: #1B1B1B;
        }
      }

      h4 {

      }
    }
  }

}

@media (max-width: 1200px) {
  #courses .frontEnd--courses__inform--first__fon {
    width: 348px;
  }
  #courses .frontEnd--courses__inform {
    grid-column-gap: 41px;
  }
  #courses .frontEnd--title {
    width: 1089px;
    margin: 45px -29px;
  }
}
@media (max-width: 1040px) {
  #courses .frontEnd--courses__inform--first__fon {
    width: 300px;
  }
  #courses .frontEnd--title {
    width: 997px;
  }
  #courses .frontEnd--courses__inform--first__fon {
    width: 275px;
  }
  #courses .frontEnd--title {
    width: 882px;
    margin: 45px -71px;
  }
}
@media (max-width: 768px) {
  #courses .frontEnd--courses__inform {
    flex-direction: column;
    align-items: center;
  }
  #courses .frontEnd--courses__inform--first__fon {
    width: 400px;
  }
  #courses .frontEnd--courses__inform--first p {
    padding-bottom: 22px;
  }
  #courses .frontEnd--title {
    display: flex;
    flex-direction: column;
  }
  #courses .frontEnd--title {
    width: 662px;
    height: 400px;
    margin: 45px -1px;
  }
}
@media (max-width: 576px) {
  #courses .frontEnd--title {

    width: 474px;
    margin: 45px 15px;
  }
}
@media (max-width: 400px) {
  #courses .frontEnd--courses__inform--first__fon {
    width: 382px;
  }
  #courses .frontEnd--title {
    width: 360px;
    height: 500px;
    margin: 45px 8px;
  }
  #courses .frontEnd--courses__inform--first__fon {
    width: 289px;
  }
  #courses .frontEnd--title {
    width: 272px;
    height: 648px;
    margin: 45px -1px;
  }
}