#courses {

  padding: 50px 0;
  h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
    //margin: 55px 0;
    margin: 100px 0;
    width: 262px;

  }
  .frontEnd--courses{
    &__inform {
      display: flex;
      justify-content: space-around;


      &--first {
        &__fon {
          width: 380px;
          height: 202px;
          left: 110px;
          top: 1430px;
          background: linear-gradient(180deg, #EDF1FF 0%, rgba(203, 214, 255, 0.65) 100%);
          border-radius: 20px;
          display: flex;
          justify-content: center;

          img {
            width: 196px;
            height: 170px;
            left: 202px;
            padding: 31px;

          }
        }

        h3 {
          font-weight: 400;
          font-size: 24px;
          line-height: 80px;
          display: flex;
          align-items: center;
          color: #000000;
        }

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 130%;
          /* or 23px */

          display: flex;
          align-items: center;

          color: rgba(27, 27, 27, 0.8);

        }
      }
    }

  }
  .frontEnd--title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px 0;
    //margin: 70px 0;

    width: 1280px;
    height: 229px;
    left: 110px;
    top: 1866px;

    /* red */

    border: 2px solid #EC3025;
    border-radius: 125px;

    &__first {
      padding: 0 40px;

      h1 {
        font-weight: 500;
        font-size: 64px;
        line-height: 64px;
        display: flex;
        align-items: center;
        color: #EC3025;
        flex-direction: column;
        text-align: center;

        span {
          margin: 10px 0;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          display: flex;
          align-items: center;

          color: #1B1B1B;
        }
        &--skill{
          font-size: 24px;
        }
      }

      h4 {

      }
    }
  }

}

@media (max-width: 1200px) {
  #courses .frontEnd--courses__inform--first__fon {
    width: 348px;
  }
  #courses .frontEnd--courses__inform {
    grid-column-gap: 41px;
  }
  #courses .frontEnd--title {
    width: 1089px;
    margin: 45px -29px;
  }
}
@media (max-width: 1040px) {
  #courses .frontEnd--courses__inform--first__fon {
    width: 300px;
  }
  #courses .frontEnd--courses__inform--first__fon {
    width: 275px;
  }
  #courses .frontEnd--title {
    width:958px;
    margin: 45px -6px;
  }


}
@media (max-width: 992px) {

  #courses .frontEnd--title {
    margin: 45px -92px;
    border-radius: 58px;
  }
  #courses .frontEnd--title__first h1 span {
    width: 239px;
  }
  #course .course2--desc1{
    font-size: 22px;

  }
  #course .course2--title2{
    font-size: 34px;
  }
  #course .course2--btn2{
    width: 268px;

  }
  #choice .choice h1 {
    width: 103%;
    padding-bottom: 21px;
    br{
      display: none;
    }
  }
  #course .course2--box{
    display: none;
  }
  #course .course2--block{
    width: 630px;
    padding: 38px 14px;

  }
}

@media (max-width: 768px) {
  #courses .frontEnd--courses__inform {
    flex-direction: column;
    align-items: center;
  }
  #courses .frontEnd--courses__inform--first__fon {
    width: 400px;
  }
  #courses .frontEnd--courses__inform--first p {
    padding-bottom: 22px;
  }
  #courses .frontEnd--title {
    display: flex;
    flex-direction: column;
    width: 572px;
    height: 400px;
    border-radius: 32px;
    margin: 43px 75px;
  }

}
@media (max-width: 576px) {

  #course .course2--block {
    width: 534px;
    padding: 53px 14px;
    height: 412px;

  }

}
@media (max-width: 500px) {
  #course .course2--block {
    width: 320px;
    height: 412px;

  }
  #course .course2--title2 {
    font-size: 22px;
  }
  #course .course2--btn2 {
    width: 172px;
  }
  #course .course--btn4 {
    width: 64px;
    height: 43px;
    margin: 4px 0;
  } #course .course--buttons2 {
        display: flex;
        margin: 62px 0 0 0;
  }

  #course .course--block2 {
    width: 303px;
  }
  #course .course--girl {
    position: relative;
    left: 62px;
  }
  #course .course--desc1 {
    font-size: 17px;
  }
  #course .course--btn {
    width: 260px;
  }
  #course .course--design {
    position: relative;
    left: 4rem;
    top: -100px;
  }
  #course .course--btn6 {
    width: 259px;
  }

  #course .course--box {
    width: 304px;
    height: 577px;
    margin: 0 32px;
  }
  #course .course2--desc1 {
    font-size: 20px;
  }
  #course .course2--desc2 {
    font-family: "SF Pro Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;}
  #course .course2--title2 {
    font-size: 26px;
  }
  #courses .frontEnd--title__first h1 span {
    /* width: 239px; */
  }
}
  @media (max-width: 400px) {
  #courses .frontEnd--courses__inform--first__fon {
    width: 382px;
  }
  #courses .frontEnd--title {
    width: 360px;
    height: 500px;
    margin: 45px 8px;
  }
  #courses .frontEnd--courses__inform--first__fon {
    width: 289px;
  }

  #courses .frontEnd--title {
    width: 272px;
    height: 415px;
    margin: 45px 33px;
    border-radius: 32px ;
  }
  #courses h2 {
    margin: 44px 0;
  }
  #courses .frontEnd--courses__inform {
    padding-left: 13px;
  }
  #courses .frontEnd--title__first h1 {
    font-size: 50px;
  }
}
@media (max-width: 320px) {
  #courses .frontEnd--title {
    width: 270px;
    height: 443px;
    border-radius: 32px;
    margin: 45px 9px;
  }
}