#found{
  padding: 50px 0;
  .found{
    display: flex;
    justify-content: space-between;
    &--title{
      font-family: 'Muller',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      color: #EC3025;
      padding-bottom: 30px;
    }
    &--desc{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: rgba(27, 27, 27, 0.8);
    }
    &--images{
      display: flex;
      grid-column-gap: 30px;
    }
    &--title2{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: #000000;
      padding-top: 10px;
      padding-bottom: 6px;
    }
    &--desc2{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 140%;
      color: rgba(27, 27, 27, 0.8);
    }
    &--img2{

    }
    &--title3{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: #000000;
      padding-top: 10px;
      padding-bottom: 6px;
    }
    &--desc3{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 140%;
      color: rgba(27, 27, 27, 0.8);
    }
  }
}

@media (max-width: 1200px) {
  #found{
    padding: 50px 0;
    .found{
      display: flex;
      justify-content: space-between;
      grid-column-gap: 22px;
    }
}

}
@media (max-width: 1040px) {
  #found{
    padding: 50px 0;
    .found{
      display: flex;
      justify-content: space-between;
      &--title{
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: #EC3025;
        padding-bottom: 30px;
      }
      &--desc{
        font-size: 22px;
      }
    }
  }
}
@media (max-width: 992px) {
  #found{
    padding: 50px 0;
    .found{
      display: flex;
      justify-content: space-between;
      &--title{
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: #EC3025;
        padding-bottom: 30px;
      }
      &--desc{
        font-size: 21px;
        line-height: 138%;
      }
      &--title2{
        font-size: 22px;
      }
    }
  }

}
@media (max-width: 768px) {
  #found{
    padding: 50px 0;
    .found {
      display: flex;
      justify-content: space-between;
      grid-column-gap: 22px;


      &--desc {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        color: rgba(27, 27, 27, 0.8);
      }

      &--images {
        display: flex;
        grid-column-gap: 30px;
      }

      &--title2 {
        font-size: 19px;
      }
    }
  }
  #found .found {

  }
  #found .found--title2 {


  }
}
@media (max-width: 577px) {
  #found{
    padding: 10px;
    .found{
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
      /* grid-column-gap: 22px; */
      }
    &--desc{
      font-size: 21px;
      padding-bottom: 35px;
    }
  }
}
@media (max-width: 500px) {
  #found{
    padding: 50px 0;
    .found{

      &--title{

      }
      &--desc2{
        font-size: 16px;
        line-height: 36%;
      }
      &--images{
        padding-top: 20px;
      }
    }
  }
  #found .found--desc2 {

  }
}
@media (max-width: 400px) {
  #found{
    padding: 50px 0;
    .found{

      &--title{
      }
      &--desc{
        font-size: 15px;
      }
      &--images{
        display: flex;
        grid-column-gap: 30px;
      }
      &--title2{
        font-size: 15px;
      }
      &--desc2{

      }

      &--title3{
      }
      &--desc3{

      }
    }
  }

}
@media (max-width: 351px) {
  #found{

    padding: 0 0;
  }
}

@media (max-width: 320px) {
  #found{
    padding: 50px 0;
    .found{

      &--title{
      }
      &--desc{
        font-size: 15px;
      }
      &--images{
        display: flex;
        grid-column-gap: 30px;
      }
      &--title2{
        font-size: 12px;
      }
      &--desc2{

      }

      &--title3{
      }
      &--desc3{

      }
    }
  }
}
