#list{
  padding: 60px 0;
  background: #EFEFEF;
  .list{
    display: flex;
    grid-column-gap: 10rem;
    &--title{
      font-family: 'Muller',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      color: #000000;
      padding-bottom: 30px;
    }
    &--desc{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 140%;
      color: rgba(27, 27, 27, 0.8);
      padding-bottom: 40px;
    }
    &--block{
      display: flex;
      padding-bottom: 16px;
      grid-column-gap: 12px;
    }
    &--number{
      width: 67px;
      height: 43px;
      font-family: 'Muller',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 48px;
      color: #D2D2D2;
    }
    &--title2{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      color: #1B1B1B;
    }
    &--line{
      width: 485px;
      height: 0;
      border: 1px solid #D2D2D2;
      margin-bottom: 50px;
    }
&--img1{
  width: 590px;
  height: 414px;
}
  }
}

@media (max-width: 1200px) {
  #list{
    .list{
      display: flex;
      grid-column-gap: 1rem;
      &--title{
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: #000000;
        padding-bottom: 30px;
      }
      &--desc{
        font-family: 'SF Pro Display',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 140%;
        color: rgba(27, 27, 27, 0.8);
        padding-bottom: 40px;
      }
      &--block{
        display: flex;
        padding-bottom: 16px;
        grid-column-gap: 12px;
      }
      &--number{
        width: 67px;
        height: 43px;
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 48px;
        color: #D2D2D2;
      }
      &--title2{
        font-family: 'SF Pro Display',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: #1B1B1B;
      }
      &--line{
        width: 485px;
        height: 0;
        border: 1px solid #D2D2D2;
        margin-bottom: 50px;
      }
      &--img1{
        width: 590px;
        height: 414px;
      }
    }
  }
}
@media (max-width: 1040px) {
  #list{
    .list{
      display: flex;
      grid-column-gap: 10rem;
      &--title{
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: #000000;
        padding-bottom: 30px;
      }
      &--desc{
        font-family: 'SF Pro Display',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 140%;
        color: rgba(27, 27, 27, 0.8);
        padding-bottom: 40px;
      }
      &--block{
        display: flex;
        padding-bottom: 16px;
        grid-column-gap: 12px;
      }
      &--number{

      }
      &--title2{
      }
      &--line{
        width: 434px;
      }
      &--img1{
        width: 590px;
        height: 414px;
      }
    }
  }
  #list .list--line {

  }
  #list .list {
    display: flex;
    grid-column-gap: 10px;
    width: 520px;
  }
  #list .list--title2 {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  #list{
    padding: 60px 0;
    background: #EFEFEF;
    .list{
      width: 380px;
      &--title{

      }
      &--desc{

      }
      &--block{

      }
      &--number{

      }
      &--title2{

      }
      &--line{
        width: 485px;
        height: 0;
        border: 1px solid #D2D2D2;
        margin-bottom: 50px;
      }
      &--img1{
        width: 590px;
        height: 414px;
      }
    }
  }
  #list .list {

  }
  #list .list--title {
    padding-bottom: 17px;
  }
  #list .list--line {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  #list{
    padding: 60px 0;
    background: #EFEFEF;
    .list{
      display: flex;
      align-items: baseline;
      flex-direction: column;
      margin-left: 71px;
      &--title{
        padding-bottom: 30px;
      }
      &--desc{
        font-family: 'SF Pro Display',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 140%;
        color: rgba(27, 27, 27, 0.8);
        padding-bottom: 40px;
      }
      &--block{
        display: flex;
        padding-bottom: 16px;
        grid-column-gap: 12px;
      }
      &--number{
        width: 67px;
        height: 43px;
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 48px;
        color: #D2D2D2;
      }
      &--title2{
        font-family: 'SF Pro Display',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: #1B1B1B;
      }
      &--line{
        width: 600px;
      }
      &--img1{
        width: 590px;
        height: 414px;
      }
    }
  }
}
@media (max-width: 576px) {
  #list{
    padding: 60px 0;
    background: #EFEFEF;
    .list{
      margin-left: 7px;

      &--desc{

        padding-bottom: 40px;
      }

      &--number{

      }
      &--title2{
        font-family: 'SF Pro Display',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: #1B1B1B;
      }
      &--line{
        width: 518px;
      }
      &--img1{
        width: 590px;
        height: 414px;
      }
    }
  }

  #list .list {

  }
}
@media (max-width: 500px) {
  #list{
    .list{
      &--line{
        width: 451px;
      }
    }
  }
}
@media (max-width: 451px) {
  #list{
    padding: 60px 0;
    background: #EFEFEF;
    .list{

      &--title{
        font-size: 38px;
      }
      &--desc{

      }

      &--number{
        width: 67px;
        height: 43px;
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 48px;
        color: #D2D2D2;
      }
      &--title2{
        font-size: 17px;
      }
      &--line{
        width: 413px;
      }

    }
  }
}
@media (max-width: 400px) {
  #list{
    padding: 60px 0;
    background: #EFEFEF;
    .list{
      width: 249px;
      &--desc{
        font-size: 15px;
      }

      &--title{
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: #000000;
        padding-bottom: 30px;
      }
      &--desc{

      }
      &--img1{
        width: 318px;
        height: 310px;
      }

      &--number{
        width: 67px;
        height: 43px;
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 48px;
        color: #D2D2D2;
      }
      &--title2{
        font-size: 17px;
      }
      &--line{
        width: 293px
      }

    }
  }





  #call .call--desc {

  }
}
@media (max-width: 351px) {
  #list{
    padding: 60px 0;
    background: #EFEFEF;
    .list{
      display: flex;
      grid-column-gap: 10rem;
      &--title{
        font-size: 37px;
        line-height: 23px;
      }
      &--desc{
        font-size: 15px;
      }
      &--block{
        display: flex;
        align-items: center;
      }
      &--number{
        font-size: 33px;
        line-height: 42px;
      }
      &--title2{
        font-size: 18px;
      }
      &--line{
        width: 296px;
      }
      &--img1{
        width: 277px;
        height: 192px;
      }
    }
  }


}
@media (max-width: 320px) {
  #list{
    padding: 60px 0;
    background: #EFEFEF;
    .list{
      display: flex;
      grid-column-gap: 10rem;
      &--title{
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        color: #000000;
        padding-bottom: 30px;
      }
      &--desc{
        font-size: 14px;
      }
      &--block{
        display: flex;
        align-items: center;
      }
      &--number{
        width: 67px;
        height: 43px;
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 48px;
        color: #D2D2D2;
      }
      &--title2{
        font-size: 15px;
      }
      &--line{
        width: 296px;
      }
      &--img1{
        width: 277px;
        height: 192px;
      }
    }
  }


}
