#certificate {
  padding: 70px 0;
  background: linear-gradient(289.3deg, #131313 17.11%, rgba(28, 28, 28, 0.87) 100%);

  .certificate {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--text {

      h3 {
        font-weight: 500;
        font-size: 40px;
        display: flex;
        padding-bottom: 50px;
        align-items: center;
        color: #FFFFFF;
      }

      h6 {
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.8);
      }

      &__buttons {
        display: flex;
        padding: 30px 0;

        button {

          padding: 10px 15px;

          padding: 5px 10px;
          background: white;
          color: black;
          border-radius: 25px;
          margin: 0 4px;
          border: none;
          transition: .4s;

          &:hover {
            background: #EC3025;
            color: white;
          }
        }

      }

    }

    &--img {

      img {
        width: 600px;
      }
    }
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 1040px) {

}

@media (max-width: 992px) {
  #certificate .certificate--text h6 {
    line-height: 20px;
  }
  #certificate .certificate--img img {
    margin-left: 22px;
  }
}

@media (max-width: 768px) {

  #certificate .certificate {
    flex-direction: column;
    /* justify-content: space-between; */
  }
  #certificate .certificate--text h6 {
    line-height: 28px;
  }
  #certificate .certificate--img img {
    padding-top: 28px;
    width: 541px;

  }
}

@media (max-width: 576px) {
  #certificate .certificate--img img {
    margin-left: -13px;
    width: 369px;

  }
}

@media (max-width: 400px) {

}

@media (max-width: 320px) {

  #certificate .certificate--text h3 {
    padding-left: 10px;
  }
  #certificate .certificate--img img {
    margin-left: -7px;
    width: 256px;
  }
  #certificate .certificate--text__buttons button {
    padding: 10px 15px;
    font-size: 10px;
    margin: 0 4px;
  }
  #certificate .certificate--text h6 {
    line-height: 21px;
    padding-left: 10px;
    font-size: 13px;
  }
}
