#clubUs {
  padding: 100px;

  .clubUs {
    &--block {
      display: flex;
      align-items: start;
      justify-content: space-between;

      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 36px;
        color: #EC3025;
      }

      p {
        width: 60%;
        padding-bottom: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 140%;
        color: #1B1B1B;
      }
    }

    &--block1 {
      margin-top: 80px;
      padding: 50px 0;
      background: #F8F8F8;
      border: 2px solid #EC3025;
      border-radius: 125px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;

      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 64px;
        color: #EC3025;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #1B1B1B;
      }
    }
  }
}


@media (max-width: 768px) {
  #clubUs .clubUs--block {
    flex-direction: column;
  }
  #clubUs .clubUs--block1 {
    flex-direction: column;
  }
  #clubUs {
    padding: 100px 0;
  }
  #clubUs .clubUs--block p {
    width: 100%;
  }
}