#project {
  background: #EFEFEF;
  margin-bottom: -100px;

  .project {
    &--load {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &__image {
        z-index: 10;
        width: 50%;
      }

      &__any1 {
        position: absolute;
        left: 0;
        padding-top: 250px;
        z-index: 100;
        width: 10%;
      }

      &__any2 {
        position: absolute;
        right: 0;
        padding-top: 300px;
        z-index: 100;
        width: 10%;
      }

      &__any3 {
        position: absolute;
        left: 180px;
        padding-top: 150px;
        width: 10%;
        animation: an3 20s ease-in infinite alternate;
      }

      @keyframes an3 {
        50% {
          transform: scale(1.5);
        }
      }

      &__any4 {
        position: absolute;
        left: 320px;
        padding-top: 150px;
        width: 10%;
        animation: an4 5s ease-in infinite alternate;
      }

      @keyframes an4 {
        50% {
          transform: scale(1.5);
        }
      }

      &__any5 {
        position: absolute;
        right: 300px;
        padding-top: 300px;
        width: 10%;
      }

      &__any6 {
        position: absolute;
        right: 400px;
        padding-top: 100px;
        z-index: 1;
        width: 10%;
      }

      &__any7 {
        position: absolute;
        right: 0;
        padding-top: 100px;
        width: 10%;
      }

      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 96px;
        color: #EC3025;
        padding: 50px 0;
      }

      &__block {
        background: linear-gradient(289.3deg, rgba(19, 19, 19, 0.3) 17.11%, rgba(28, 28, 28, 0.261) 100%);
        backdrop-filter: blur(7.5px);
        border-radius: 20px;
        width: 100%;
        position: relative;
        z-index: 20;
        padding: 60px 0;
        bottom: 250px;

        h2 {
          font-style: normal;
          font-weight: 500;
          font-size: 60px;
          line-height: 80px;
          color: #FFFFFF;
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  #project .project--load__any1 {
    padding-top: 150px;
  }
  #project .project--load__any2 {
    padding-top: 200px;
  }
  #project .project--load__any4 {
    left: 200px;
    padding-top: 50px;
  }
  #project .project--load__any3 {
    left: 100px;
    padding-top: 50px;
  }
  #project .project--load__any5 {
    right: 250px;
    padding-top: 150px;
  }
  #project .project--load__any7 {
    padding-top: 30px;
  }
  #project .project--load h1 {
    font-size: 70px;
  }
  #project .project--load__block h2 {
    font-size: 50px;
  }
  #project {
    margin-bottom: -150px;
  }
}

@media (max-width: 1024px) {
  #project .project--load__block {
    padding: 30px 0;
    bottom: 200px;
  }
}

@media (max-width: 992px) {
  #project .project--load__block {
    padding: 10px 0;
    bottom: 150px;
  }
  #project {
    margin-bottom: -100px;
  }
  #project .project--load h1 {
    font-size: 60px;
    padding: 10px 0;
  }
  #project .project--load__block h2 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  #project .project--load h1 {
    font-size: 50px;
  }
  #project .project--load__block h2 {
    font-size: 30px;
    line-height: 50px;
  }
  #project .project--load__block {
    bottom: 120px;
  }
  #project {
    margin-bottom: -70px;
  }
  #project .project--load__any1 {
    padding-top: 100px;
  }
  #project .project--load__any2 {
    padding-top: 150px;
  }
  #project .project--load__any6 {
    right: 200px;
    padding-top: 50px;
  }
  #project .project--load__any5 {
    right: 150px;
    padding-top: 120px;
  }
  #project .project--load__any7 {
    padding-top: 50px;
  }
  #project .project--load__any4 {
    left: 150px;
    padding-top: 50px;
  }
}

@media (max-width: 576px) {
  #project .project--load h1 {
    font-size: 40px;
  }
  #project .project--load__block h2 {
    font-size: 20px;
    line-height: 40px;
  }
  #project .project--load__block {
    bottom: 100px;
  }
}

@media (max-width: 451px) {
  #project .project--load__any1 {
    padding-top: 0;
  }
  #project .project--load__any2 {
    padding-top: 0;
  }
  #project .project--load__any7 {
    padding-top: 0;
  }
  #project .project--load__any5 {
    right: 150px;
    padding-top: 0;
  }
  #project .project--load h1 {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  #project .project--load__image {
    width: 100%;
  }
}