#call {
  .call {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    justify-items: center;
    text-align: left;

    img {
      padding: 20px 0;
    }
    &--title{
      font-family: 'Muller',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      color: #EC3025;
    }
    &--desc{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      position: relative;
      top: 15rem;
      right: 90px;
      cursor: pointer;
    }
    &--boxes{
      background: linear-gradient(289.3deg, #131313 17.11%, rgba(23, 23, 23, 0.943269) 53.28%, rgba(28, 28, 28, 0.87) 100%);
      padding: 100px;
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--images{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 7px;
      grid-row-gap: 7px;
      display: none;
    }
  }

}

@media (max-width: 1200px) {
  #call {
    .call {
      padding-top: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: flex-start;
      justify-items: center;
      text-align: left;

      img {
        padding: 20px 0 0 14px;
      }
      &--desc{
        position: relative;
        top: 13rem;
        right: 82px;
      }

    }

  }

  #call .call--desc {

  }
}
@media (max-width: 1040px) {
  #call {
    .call {
      padding-top: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: flex-start;
      justify-items: center;
      text-align: left;

      img {
        padding: 20px 0 0 10px;
      }
      &--title{
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: #EC3025;
      }
      &--desc{
        position: relative;
        top: 13rem;
        right: 77px;
      }
      &--boxes{
        background: linear-gradient(289.3deg, #131313 17.11%, rgba(23, 23, 23, 0.943269) 53.28%, rgba(28, 28, 28, 0.87) 100%);
        padding: 100px;
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

    }

  }

}
@media (max-width: 992px) {
  #call {
    .call {
      padding-top: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: flex-start;
      justify-items: center;
      text-align: left;

      img {
        padding: 20px 0 0 10px;
      }
      &--title{
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: #EC3025;
      }
      &--desc{
        position: relative;
        top: 10rem;
        right: 53px;
      }
      &--boxes{
        grid-column-gap: 35px;
      }
    }

  }
}
@media (max-width: 768px) {
  #call{
    .call{
      &--desc{
        position: relative;
        top: 9rem;
        right: 41px;
      }
      &--boxes{
        display: flex;
        flex-direction: column;
        grid-row-gap: 50px;
      }
    }
  }
}
@media (max-width: 576px) {
  #call {
    .call {

      img {
        padding: 20px 0 0 10px;
      }
      &--title{
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: #EC3025;
      }
      &--desc{
        font-size: 17px;
        line-height: 19px;
        color: #000000;
        position: relative;
        top: 7rem;
        right: 16px;
      }

    }

  }

}
@media (max-width: 500px) {
  #call {
    .call {

      img {
        padding: 20px 0 0 10px;
      }
      &--title{
        font-size: 36px;
        line-height: 61px;
      }
      &--desc{
        font-size: 17px;
        position: relative;
        top: 6rem;
        right: 6px;
      }
    }
  }
}
@media (max-width: 451px) {
  #call {
    .call {

      img {
        padding: 20px 0 0 10px;

      }
      &--title{
      }
      &--desc{
        position: relative;
        top: 5rem;
        right: 4px;
      }
      &--boxes {
      }
    }

  }
}
@media (max-width: 400px) {
  #call {
    .call {

      img {
        padding: 20px 0;
        display:  none;
      }
      &--title{
        font-size: 33px;
      }
      &--desc{
        position: relative;
        top: 20rem;
        left: 92px;
        font-size: 17px;
      }
      &--boxes{

      }
      &--images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 7px;
        grid-row-gap: 7px;

      }
    }

  }

}
@media (max-width: 351px) {
  #call {
    .call {

      &--title{
        font-size: 34px;
      }
      &--desc{
        position: relative;
        top: 20rem;
        left: 65px;
        font-size: 14px;
      }
      &--boxes{
        grid-row-gap: 31px;
      }
      &--images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 7px;
        grid-row-gap: 7px;
      }
    }

  }
}
@media (max-width: 320px) {
  #call {
    .call {

      &--title{
        font-size: 34px;
      }
      &--desc{
        position: relative;
        top: 17rem;
        left: 65px;
        font-size: 11px;
      }
      &--boxes{
        grid-row-gap: 31px;
      }
      &--images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 7px;
        grid-row-gap: 7px;
      }
    }

  }
}