#us {
  padding: 100px;

  .us {
    &--block {
      display: flex;
      align-items: start;
      justify-content: space-between;

      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 36px;
        color: #EC3025;
      }

      &__p {
        width: 60%;

        p {
          padding-bottom: 20px;
          font-style: normal;
          font-weight: 400;
          font-size: 19px;
          line-height: 140%;
          color: #1B1B1B;
        }

        a {
          border-bottom: 2px solid #000000;
          transition: 0.5s all;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: #000000;

          &:hover {
            color: #EC3025;
            border-bottom: 2px solid #EC3025;
          }
        }
      }
    }

    &--block1 {
      margin-top: 80px;
      padding: 50px 0;
      background: #F8F8F8;
      border: 2px solid #EC3025;
      border-radius: 125px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 64px;
        color: #EC3025;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #1B1B1B;
      }
    }
  }
}

@media (max-width: 992px) {
  #us {
    padding: 16px 0;
    .us {
      &--block {
        flex-direction: column;
        h1 {
          padding-bottom: 12px;
        }

        &__p {
          width: 100%;
          p {

          }

          a {


            &:hover {

            }
          }
        }
      }

      &--block1 {
        flex-wrap: wrap;
        margin-top: 80px;
        padding: 50px 0;
        background: #F8F8F8;
        border: 2px solid #EC3025;
        border-radius: 72px;
        h1 {
          font-weight: 600;
          font-size: 56px;
          line-height: 64px;
          color: #EC3025;
        }

        p {

        }
      }
    }
  }
}
@media  (max-width: 768px) {
  #us {
    padding: 16px 0;
    .us {
      &--block {
        flex-direction: column;
        h1 {

        }

        &__p {

          p {

          }

          a {


            &:hover {

            }
          }
        }
      }

      &--block1 {
        margin: 53px 0 25px 0;
        h1 {
          font-weight: 600;
          font-size: 56px;
          line-height: 64px;
          color: #EC3025;
        }

        p {

        }
      }
    }
  }
}
@media  (max-width: 576px) {
  #us {
    padding: 16px 0;
    .us {
      &--block {
        flex-direction: column;
        h1 {
          font-size: 33px;
          padding: 26px 0;
        }

        &__p {
          width: 100%;
          p {

          }

          a {


            &:hover {

            }
          }
        }
      }

      &--block1 {
          margin: 53px -2px 32px -7px;
        h1 {
          font-size: 55px;
        }

        p {
          font-size: 22px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  #us {
    padding: 16px 0;
    .us {
      &--block {
        h1 {

        }

        &__p {
          width: 100%;
          p {

          }

          a {


            &:hover {

            }
          }
        }
      }

      &--block1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 7px;
        grid-row-gap: 7px;
        padding: 24px;
        text-align: center;
        h1 {

        }

        p {

        }
      }
    }
  }
}
@media (max-width: 450px) {
#us {
    padding: 16px 0;
    .us {
      &--block {
        h1 {
          font-size: 33px;
          padding: 26px 0;
        }

        &__p {
          width: 100%;
          p {

          }

          a {


            &:hover {

            }
          }
        }
      }

      &--block1 {
        margin: 53px 0 25px 0;
        h1 {
          font-weight: 600;
          font-size: 56px;
          line-height: 64px;
          color: #EC3025;
        }

        p {

        }
      }
    }
  }
}
@media (max-width: 400px) {
#us {
    padding: 16px 0;
    .us {
      &--block {
        h1 {
          ;
        }

        &__p {
          width: 100%;
          p {

          }

          a {


            &:hover {

            }
          }
        }
      }

      &--block1 {
        h1 {

        }

        p {
          font-size: 19px;
        }
      }
    }
  }
}
@media (max-width: 320px) {
#us {
    .us {
      &--block {
        h1 {

        }

        &__p {
          width: 100%;
          p {

          }

          a {


            &:hover {

            }
          }
        }
      }

      &--block1 {
        h1 {
          font-size: 45px;
        }

        p {
          font-size: 13px;
          line-height: 7px;
        }
      }
    }
  }
}
@media  (max-width: 380px) {
  #us .us--block1 h1 {
    font-weight: 600;
    font-size: 48px;
  }

}
@media  (max-width: 377px) {
  #us .us--block1 h1 {
    font-weight: 600;
    font-size: 42px;
    margin-left: 38px;

  }
  #us .us--block1 p {
    font-weight: 400;
    font-size: 16px;
    margin-left: 38px;


  }
  #us .us--block1 {
    flex-wrap: wrap;
    margin-top: 80px;
    padding: 28px 0;
  }


}
