#found{
  padding: 50px 0;
  .found{
    display: flex;
    justify-content: space-between;
    &--title{
      font-family: 'Muller',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      color: #EC3025;
      padding-bottom: 30px;
    }
    &--desc{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: rgba(27, 27, 27, 0.8);
    }
    &--images{
      display: flex;
      grid-column-gap: 30px;
    }
    &--title2{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: #000000;
      padding-top: 10px;
      padding-bottom: 6px;
    }
    &--desc2{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 140%;
      color: rgba(27, 27, 27, 0.8);
    }
    &--title3{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: #000000;
      padding-top: 10px;
      padding-bottom: 6px;
    }
    &--desc3{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 140%;
      color: rgba(27, 27, 27, 0.8);
    }
  }
}

@media (max-width: 1200px) {
  #found .found {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 22px;
  }
}
@media (max-width: 1040px) {
  #found .found--desc {
    font-size: 22px;
  }

}
@media (max-width: 992px) {
  #found .found--desc {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  #found .found {
    display: flex;
     justify-content: space-between;
    grid-column-gap: 22px;
  }
  #found .found--title2 {
    font-size: 19px;

  }
}
@media (max-width: 576px) {
  #found {
    padding: 10px;
  }
  #found .found {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* grid-column-gap: 22px; */
  }
  #found .found--desc {
    font-size: 21px;
    padding-bottom: 25px;
  }
}
@media (max-width: 400px) {

}
@media (max-width: 320px) {

}
@media (max-width: 400px) {

}