#call{
  padding-top: 60px;
  .call{
    display: flex;
    grid-column-gap: 15rem;
    &--title{
      font-family: 'Muller',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      color: #EC3025;
    }
    &--images1{
      display: flex;
      grid-column-gap: 35px;
    }
    &--images1 img {
      width: 380px;
      height: 260px;
    }
    &--box{
      display: flex;
      align-items: center;
      grid-column-gap: 22px;
      padding: 30px 0;
    }
    &--box img{
      width: 380px;
      height: 260px;
    }
    &--desc{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      padding-top: 14rem;
      padding-left: 40px;
      cursor: pointer;
    }
    &--slider img{
      padding: 0 10px;
    }
&--slider img{
  width: 380px;
  height: 260px;
  padding: 0 10px;
}
    &--boxes{
      background: linear-gradient(289.3deg, #131313 17.11%, rgba(23, 23, 23, 0.943269) 53.28%, rgba(28, 28, 28, 0.87) 100%);
      padding: 100px;
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--images{
     display: flex;
      overflow: scroll;
      width: 380px;
      height: 260px;
    }
    &--images img{
      padding: 0 10px;
    }
  }
}

@media (max-width: 1200px) {
  #call .call {
    display: flex;
    grid-column-gap: 9rem;
  }
  #call .call--box {
    display: flex;
    align-items: center;
    grid-column-gap: 13px;
  }
}
@media (max-width: 1040px) {
  #call .call {
    display: flex;
    grid-column-gap: 2rem;
  }
}
@media (max-width: 992px) {
  #call .call--images1 {
    display: flex;
    grid-column-gap: 20px;
  }
  #call .call--images1 img {
    width: 324px;
  }
  #call .call--box img {
    width: 324px;
  }
}
@media (max-width: 768px) {
  #call .call--images1 img {
    width: 257px;
  }
  #call .call--box img {
    width: 257px;
  }
}
@media (max-width: 576px) {

}
@media (max-width: 400px) {

}
@media (max-width: 320px) {

}