#FrontendHero {
  z-index: -99;
  .title{
    text-align: center;
    h1{
      font-family: 'Muller',sans-serif;
      font-weight: 800;
      font-size: 128px;
      padding-top: 90px;
      color: red;
      span{
        color: white;
      }
    }

    p{
      font-family: 'SF Pro Display',sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 23px;
      color: #FFFFFF;
      padding: 30px 0;
    }
    button{
      width: 366px;
      height: 50px;
      background: #DF281E;
      border-radius: 44px;
      color: white;
      cursor: pointer;
    }
  }
  .FrontendHero {
    z-index: -99;
    background: #1E9F2B;
    .backdropBlur {
      left: 45px;
    }
    .an12{
      right: 525px;
    }
  }
}


@media (max-width: 1600px) {
  #FrontendHero {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .FrontendHero {
      .backdropBlur {
        position: absolute;
        width: 1428px;
        height: 705px;
        left: 50px;
        top: 115px;
        background: linear-gradient(
                        289.3deg,
                        rgba(19, 19, 19, 0.3) 17.11%,
                        rgba(28, 28, 28, 0.261) 100%
        );
        -webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(11.5px);
        border-radius: 20px;
      }
    }
    .an1 {
      position: absolute;
      top: 121px;
      left: 318px;
      animation: an1 5s ease-in infinite alternate;
      -webkit-animation: an1 5s ease-in infinite alternate;
    }
    .an4 {
      position: absolute;
      top: 229px;
      left: -8px;
      animation: an4 5s ease-in infinite alternate;
      -webkit-animation: an4 5s ease-in infinite alternate;
    }
    .an6 {
      position: absolute;
      top: 527px;
      left: 164px;
      animation: an6 5s ease-in infinite alternate;
      -webkit-animation: an6 5s ease-in infinite alternate;
    }
    .an7 {
      position: absolute;
      left: 706px;
      top: 201px;
    }
    .an5 {
      position: absolute;
      left: 338px;
      top: 458px;
      animation: an5 5s ease-in infinite alternate;
      -webkit-animation: an5 5s ease-in infinite alternate;
    }

    .an3 {
      left: 1274px;
      overflow: hidden;
      position: absolute;
      top: 346px;
      animation: an6 5s ease-in infinite alternate;
      -webkit-animation: an6 5s ease-in infinite alternate;
    }
    .an2 {
      position: absolute;
      left: 1046px;
      overflow: hidden;
      top: 152px;
      animation: an2 5s ease-in infinite alternate;
      -webkit-animation: an2 5s ease-in infinite alternate;
    }
    .an11 {
      position: absolute;
      top: 675px;
      left: 1152px;
    }
    .an12 {
      position: absolute;
      top: 300px;
      right: 570px;
      animation: an2 5s ease-in infinite alternate;
      -webkit-animation: an2 5s ease-in infinite alternate;
    }
    .an8 {
      position: absolute;
      top: 562px;
      left: 412px;
      animation: an9 5s ease-in infinite alternate;
      -webkit-animation: an9 5s ease-in infinite alternate;
    }
    .an10 {
      position: absolute;
      top: 503px;
      right: 400px;
      animation: an10 5s ease-in infinite alternate;
      -webkit-animation: an10 5s ease-in infinite alternate;
    }
    .an9 {
      position: absolute;
      left: 1025px;
      top: 388px;
      animation: an7 5s ease-in infinite alternate;
      -webkit-animation: an7 5s ease-in infinite alternate;
    }
    .an1media {
      display: none;
    }
    .an2media {
      display: none;
    }
    .an3media {
      display: none;
    }
    .an4media {
      display: none;
    }
    .an5media {
      display: none;
    }
  }
}

@keyframes an1 {
  100% {
    transform: scale(1.5);
    -webkit-transform: scale(1);
  }
  0% {
    transform: scale(2);
    -webkit-transform: scale(0.8);
  }
}
@keyframes an4 {
  0% {
    transform: scale(0.9);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(0.8);
  }
}
@keyframes an6 {
  0% {
    transform: scale(0.9);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(0.8);
  }
}
@keyframes an5 {
  0% {
    transform: scale(0.9);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(0.8);
  }
}
@keyframes an2 {
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(1);
  }
  0% {
    transform: scale(1);
    -webkit-transform: scale(1.2);
  }
}

@media (max-width: 1500px) {
  #FrontendHero {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .FrontendHero {
      .backdropBlur {
        position: absolute;
        width: 1360px;
        height: 705px;
        left: 1080px;
        top: 115px;
        background: linear-gradient(
                        289.3deg,
                        rgba(19, 19, 19, 0.3) 17.11%,
                        rgba(28, 28, 28, 0.261) 100%
        );
        -webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(7.5px);
        border-radius: 20px;
      }
      .an1 {
        position: absolute;
        top: 121px;
        left: 318px;
        animation: an1 5s ease-in infinite alternate;
        -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .an4 {
        position: absolute;
        top: 229px;
        left: -8px;
        animation: an4 5s ease-in infinite alternate;
        -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .an6 {
        position: absolute;
        top: 527px;
        left: 164px;
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an7 {
        position: absolute;
        left: 706px;
        top: 201px;
      }
      .an5 {
        position: absolute;
        left: 338px;
        top: 458px;
        animation: an5 5s ease-in infinite alternate;
        -webkit-animation: an5 5s ease-in infinite alternate;
      }

      .an3 {
        width: 343px;
        overflow: hidden;
        position: absolute;
        top: 217px;
        left: 1104px;
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an2 {
        position: absolute;
        left: 904px;
        top: 122px;
        animation: an2 5s ease-in infinite alternate;
        -webkit-animation: an2 5s ease-in infinite alternate;
      }
      .an11 {
        position: absolute;
        top: 580px;
        left: 1047px;
      }
      .an12 {
        position: absolute;
        top: 300px;
        right: 570px;
        animation: an2 5s ease-in infinite alternate;
        -webkit-animation: an2 5s ease-in infinite alternate;
      }
      .an8 {
        position: absolute;
        top: 562px;
        left: 412px;
        animation: an9 5s ease-in infinite alternate;
        -webkit-animation: an9 5s ease-in infinite alternate;
      }
      .an10 {
        position: absolute;
        top: 503px;
        right: 400px;
        animation: an10 5s ease-in infinite alternate;
        -webkit-animation: an10 5s ease-in infinite alternate;
      }
      .an9 {
        position: absolute;
        left: 1025px;
        top: 388px;
        animation: an7 5s ease-in infinite alternate;
        -webkit-animation: an7 5s ease-in infinite alternate;
      }
      .an1media {
        display: none;
      }
      .an2media {
        display: none;
      }
      .an3media {
        display: none;
      }
      .an4media {
        display: none;
      }
      .an5media {
        display: none;
      }
    }
  }

  @keyframes an1 {
    100% {
      transform: scale(1.5);
      -webkit-transform: scale(1);
    }
    0% {
      transform: scale(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an4 {
    0% {
      transform: scale(0.9);
      -webkit-transform: scale(1);
    }
    100% {
      transform: scale(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an6 {
    0% {
      transform: scale(0.9);
      -webkit-transform: scale(1);
    }
    100% {
      transform: scale(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an5 {
    0% {
      transform: scale(0.9);
      -webkit-transform: scale(1);
    }
    100% {
      transform: scale(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an2 {
    100% {
      transform: scale(0.5);
      -webkit-transform: scale(1);
    }
    0% {
      transform: scale(1);
      -webkit-transform: scale(1.2);
    }
  }
}

@media (max-width: 1400px) {
  #FrontendHero {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .FrontendHero {
      .backdropBlur {
        position: absolute;
        width: 1324px;
        height: 705px;
        left: 30px;
        top: 90px;
        background: linear-gradient(
                        289.3deg,
                        rgba(19, 19, 19, 0.3) 17.11%,
                        rgba(28, 28, 28, 0.261) 100%
        );
        -webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(7.5px);
        border-radius: 20px;
      }
      .an1 {
        position: absolute;
        top: 121px;
        left: 318px;
        animation: an1 5s ease-in infinite alternate;
        -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .an4 {
        position: absolute;
        top: 229px;
        left: -8px;
        animation: an4 5s ease-in infinite alternate;
        -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .an6 {
        position: absolute;
        top: 527px;
        left: 164px;
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an7 {
        position: absolute;
        left: 706px;
        top: 201px;
      }
      .an5 {
        position: absolute;
        left: 338px;
        top: 458px;
        animation: an5 5s ease-in infinite alternate;
        -webkit-animation: an5 5s ease-in infinite alternate;
      }

      .an3 {
        width: 343px;
        overflow: hidden;
        position: absolute;
        top: 217px;

        left: 1051px;
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an2 {
        position: absolute;
        left: 904px;
        top: 122px;
        animation: an2 5s ease-in infinite alternate;
        -webkit-animation: an2 5s ease-in infinite alternate;
      }
      .an11 {
        position: absolute;
        top: 580px;
        left: 1047px;
      }
      .an12 {
        position: absolute;
        top: 300px;
        right: 570px;
        left: 503px;
        animation: an2 5s ease-in infinite alternate;
        -webkit-animation: an2 5s ease-in infinite alternate;
      }
      .an8 {
        position: absolute;
        top: 562px;
        left: 412px;
        animation: an9 5s ease-in infinite alternate;
        -webkit-animation: an9 5s ease-in infinite alternate;
      }
      .an10 {
        position: absolute;
        top: 503px;
        right: 400px;
        animation: an10 5s ease-in infinite alternate;
        -webkit-animation: an10 5s ease-in infinite alternate;
      }
      .an9 {
        position: absolute;
        left: 1025px;
        top: 388px;
        animation: an7 5s ease-in infinite alternate;
        -webkit-animation: an7 5s ease-in infinite alternate;
      }
      .an1media {
        display: none;
      }
      .an2media {
        display: none;
      }
      .an3media {
        display: none;
      }
      .an4media {
        display: none;
      }
      .an5media {
        display: none;
      }
    }
  }

  @keyframes an1 {
    100% {
      transform: scale(1.5);
      -webkit-transform: scale(1);
    }
    0% {
      transform: scale(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an4 {
    0% {
      transform: scale(0.9);
      -webkit-transform: scale(1);
    }
    100% {
      transform: scale(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an6 {
    0% {
      transform: scale(0.9);
      -webkit-transform: scale(1);
    }
    100% {
      transform: scale(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an5 {
    0% {
      transform: scale(0.9);
      -webkit-transform: scale(1);
    }
    100% {
      transform: scale(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an2 {
    100% {
      transform: scale(0.5);
      -webkit-transform: scale(1);
    }
    0% {
      transform: scale(1);
      -webkit-transform: scale(1.2);
    }
  }
}
@keyframes an11 {
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(1);
  }
  0% {
    transform: scale(1);
    -webkit-transform: scale(1.2);
  }
}
@keyframes an8 {
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(1);
  }
  0% {
    transform: scale(1);
    -webkit-transform: scale(1.2);
  }
}

@keyframes an7 {
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(1);
  }
  0% {
    transform: scale(1);
    -webkit-transform: scale(1.2);
  }
}
@keyframes an10 {
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(1);
  }
  0% {
    transform: scale(1);
    -webkit-transform: scale(1.2);
  }
}
@keyframes an9 {
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(1);
  }
  0% {
    transform: scale(1);
    -webkit-transform: scale(1.2);
  }
}

@media (max-width: 1200px) {
  #FrontendHero {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .FrontendHero {
      .backdropBlur {
        position: absolute;
        width: 1116px;
        height: 705px;
        left: 44px;
        top: 111px;
        background: linear-gradient(
                        289.3deg,
                        rgba(19, 19, 19, 0.3) 17.11%,
                        rgba(28, 28, 28, 0.261) 100%
        );
        -webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(7.5px);
        border-radius: 20px;
      }
      .an1 {
        position: absolute;
        top: 71px;
        left: 281px;
        animation: an1 5s ease-in infinite alternate;
        -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .an4 {
        position: absolute;
        top: 229px;
        left: -26px;
        animation: an4 5s ease-in infinite alternate;
        -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .an6 {
        position: absolute;
        top: 527px;
        left: 115px;
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an7 {
        position: absolute;
        left: 606px;
        top: 168px;
        animation: an4 5s ease-in infinite alternate;
        -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .an5 {
        display: none;
      }

      .an3 {
        display: none;
      }
      .an2 {
        position: absolute;
        left: 734px;
        top: 122px;
        animation: an2 5s ease-in infinite alternate;
        -webkit-animation: an2 5s ease-in infinite alternate;
      }
      .an11 {
        position: absolute;
        top: 580px;
        left: 864px;
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an12 {
        position: absolute;
        top: 300px;
        left: 386px;
        animation: an2 5s ease-in infinite alternate;
        -webkit-animation: an2 5s ease-in infinite alternate;
      }
      .an8 {
        position: absolute;
        top: 562px;
        left: 346px;
        animation: an9 5s ease-in infinite alternate;
        -webkit-animation: an9 5s ease-in infinite alternate;
      }
      .an10 {
        position: absolute;
        top: 503px;
        right: 217px;
        animation: an10 5s ease-in infinite alternate;
        -webkit-animation: an10 5s ease-in infinite alternate;
      }
      .an9 {
        position: absolute;
        left: 947px;
        top: 388px;
        animation: an7 5s ease-in infinite alternate;
        -webkit-animation: an7 5s ease-in infinite alternate;
      }
    }
  }

  @keyframes an1 {
    100% {
      transform: scale(1.5);
      -webkit-transform: scale(1);
    }
    0% {
      transform: scale(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an4 {
    0% {
      transform: scale(0.9);
      -webkit-transform: scale(1);
    }
    100% {
      transform: scale(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an6 {
    0% {
      transform: scale(0.9);
      -webkit-transform: scale(1);
    }
    100% {
      transform: scale(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an5 {
    0% {
      transform: scale(0.9);
      -webkit-transform: scale(1);
    }
    100% {
      transform: scale(2);
      -webkit-transform: scale(0.8);
    }
  }
  @keyframes an2 {
    100% {
      transform: scale(0.5);
      -webkit-transform: scale(1);
    }
    0% {
      transform: scale(1);
      -webkit-transform: scale(1.2);
    }
  }
}

@keyframes an1media {
  0% {
    transform: scale(0.9);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(0.8);
  }
}
@keyframes an2media {
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(1);
  }
  0% {
    transform: scale(1);
    -webkit-transform: scale(1.2);
  }
}

@media (max-width: 1140px) {
  #FrontendHero {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .FrontendHero {
      .backdropBlur {
        position: absolute;
        width: 1045px;
        height: 705px;
        left: 40px;
        top: 113px;
        background: linear-gradient(
                        289.3deg,
                        rgba(19, 19, 19, 0.3) 17.11%,
                        rgba(28, 28, 28, 0.261) 100%
        );
        -webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(7.5px);
        border-radius: 20px;
      }
      .an1 {
        position: absolute;
        top: 71px;
        left: 281px;
        animation: an1 5s ease-in infinite alternate;
        -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .an4 {
        position: absolute;
        top: 229px;
        left: 7px;
        animation: an7 5s ease-in infinite alternate;
        -webkit-animation: an7 5s ease-in infinite alternate;
      }
      .an6 {
        position: absolute;
        top: 593px;
        left: 96px;
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an7 {
        position: absolute;
        left: 606px;
        top: 168px;
        animation: an4 5s ease-in infinite alternate;
        -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .an5 {
        display: none;
      }

      .an3 {
        display: none;
      }
      .an2 {
        position: absolute;
        left: 805px;
        top: 141px;
        animation: an2 5s ease-in infinite alternate;
        -webkit-animation: an2 5s ease-in infinite alternate;
      }
      .an11 {
        position: absolute;
        top: 657px;
        left: 886px;
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an12 {
        position: absolute;
        top: 300px;
        left: 386px;
        animation: an2 5s ease-in infinite alternate;
        -webkit-animation: an2 5s ease-in infinite alternate;
      }
      .an8 {
        position: absolute;
        top: 562px;
        left: 346px;
        animation: an9 5s ease-in infinite alternate;
        -webkit-animation: an9 5s ease-in infinite alternate;
      }
      .an10 {
        position: absolute;
        top: 503px;
        right: 164px;
        animation: an10 5s ease-in infinite alternate;
        -webkit-animation: an10 5s ease-in infinite alternate;
      }
      .an9 {
        position: absolute;
        left: 920px;
        top: 388px;
        animation: an7 5s ease-in infinite alternate;
        -webkit-animation: an7 5s ease-in infinite alternate;
      }
    }
  }
}

@media (max-width: 992px) {
  #FrontendHero {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 22rem;

    .title {
      h1{
        font-size: 90px;
        padding-top: 90px;
      }
      h2{
        font-size: 90px;

      }
    }

    .FrontendHero {
      .backdropBlur {
        position: absolute;
        width: 908px;
        height: 705px;
        left: 40px;
        top: 110px;
        background: linear-gradient(
                        289.3deg,
                        rgba(19, 19, 19, 0.3) 17.11%,
                        rgba(28, 28, 28, 0.261) 100%
        );
        -webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(7.5px);
        border-radius: 20px;
      }
      .an1 {
        position: absolute;
        top: 71px;
        left: 204px;
        animation: an1 5s ease-in infinite alternate;
        -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .an4 {
        position: absolute;
        top: 229px;
        left: 7px;
        animation: an4 5s ease-in infinite alternate;
        -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .an6 {
        position: absolute;
        top: 527px;
        left: 115px;
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an7 {
        position: absolute;
        left: 491px;
        top: 168px;
        animation: an4 5s ease-in infinite alternate;
        -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .an5 {
        display: block;
        left: 881px;
      }

      .an3 {
        display: block;
        position: absolute;
        margin-left: -746px;
      }
      .an2 {
        position: absolute;
        left: 606px;
        top: 121px;
        animation: an2 5s ease-in infinite alternate;
        -webkit-animation: an2 5s ease-in infinite alternate;
      }
      .an11 {
        position: absolute;
        top: 564px;
        left: 686px;
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an12 {
        display: none;
      }
      .an8 {
        position: absolute;
        top: 562px;
        left: 368px;
        animation: an9 5s ease-in infinite alternate;
        -webkit-animation: an9 5s ease-in infinite alternate;
      }
      .an10 {
        position: absolute;
        top: 503px;
        right: 239px;
        animation: an10 5s ease-in infinite alternate;
        -webkit-animation: an10 5s ease-in infinite alternate;
      }
      .an9 {
        display: block;
        left: 723px;
        top: 405px;
      }
    }
  }
}

@media (max-width: 880px) {
  #FrontendHero {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .FrontendHero {
      .backdropBlur {
        position: absolute;
        width: 798px;
        height: 705px;
        left: 33px;
        top: 109px;
        background: linear-gradient(
                        289.3deg,
                        rgba(19, 19, 19, 0.3) 17.11%,
                        rgba(28, 28, 28, 0.261) 100%
        );
        -webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(7.5px);
        border-radius: 20px;
      }
      .an1 {
        position: absolute;
        top: 71px;
        left: 204px;
        animation: an1 5s ease-in infinite alternate;
        -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .an4 {
        position: absolute;
        top: 229px;
        left: 7px;
        animation: an4 5s ease-in infinite alternate;
        -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .an6 {
        position: absolute;
        top: 527px;
        left: 115px;
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an7 {
        display: none;
      }
      .an5 {
        display: none;
      }

      .an3 {
        display: block;
        left: 537px;
        top: 352px;
      }
      .an2 {
        position: absolute;
        left: 522px;
        top: 121px;
        animation: an2 5s ease-in infinite alternate;
        -webkit-animation: an2 5s ease-in infinite alternate;
      }
      .an11 {
        top: 459px;
        left: 675px;
      }
      .an12 {
        display: none;
      }
      .an8 {
        top: 497px;
        left: 373px;
      }
      .an10 {
        display: none;
      }
      .an9 {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  #FrontendHero {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .title{
      h1{
        font-size: 70px;
        padding-top: 90px;
      }
      h2{
        font-size: 70px;
      }
    }
    .FrontendHero {
      .backdropBlur {
        position: absolute;
        width: 700px;
        height: 587px;
        left: 33px;
        top: 90px;
        background: linear-gradient(
                        289.3deg,
                        rgba(19, 19, 19, 0.3) 17.11%,
                        rgba(28, 28, 28, 0.261) 100%
        );
        -webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(7.5px);
        border-radius: 20px;
      }
      .an1 {
        display: none;
        // position: absolute;
        // top: 71px;
        // left: 475px;
        // animation: an1 5s ease-in infinite alternate;
        // -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .an4 {
        display: none;
        // position: absolute;
        // top: 91px;
        // left: 7px;
        // animation: an4 5s ease-in infinite alternate;
        // -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .an6 {
        // position: absolute;
        // top: 454px;
        // left: 75px;
        // animation: an6 5s ease-in infinite alternate;
        // -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an7 {
      }
      .an5 {
      }

      .an3 {
        left: 949px;
        top: 311px;
      }
      .an2 {
        display: block;
        left: 443px;
        position: absolute;
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an11 {
        display: block;
        position: absolute;
        top: 431px;
        left: 569px;
        animation: an1 5s ease-in infinite alternate;
        -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .an12 {
        display: block;
        top: 241px;
        left: 134px;
        animation: an4 5s ease-in infinite alternate;
        -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .an8 {
        display: none;
      }
      .an10 {
        display: none;
      }
      .an9 {
        display: none;
      }
      .an1media {
        display: block;
        position: absolute;
        left: 99px;
        top: 137px;
        animation: an1 5s ease-in infinite alternate;
        -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .an3media {
        display: block;
        position: absolute;
        top: 355px;
        left: 31px;
        animation: an2 5s ease-in infinite alternate;
        -webkit-animation: an2 5s ease-in infinite alternate;
      }
      .an4media {
        display: block;
        position: absolute;
        top: 481px;
        left: 65px;
        animation: an2media 5s ease-in infinite alternate;
        -webkit-animation: an2media 5s ease-in infinite alternate;
      }
      .an5media {
        display: block;
        top: 141px;
        position: absolute;
        left: 324px;
        animation: an2media 5s ease-in infinite alternate;
        -webkit-animation: an2media 5s ease-in infinite alternate;
      }
    }
  }
}

@media (max-width: 660px) {
  #mainPart {
    .mainPart {
      .backdropBlur {
        height: 587px;
        width: 577px;
      }
      .an2 {
        left: 374px;
      }
      .an11 {
        top: 498px;
        left: 475px;
      }
    }
  }
}

@media (max-width: 576px) {
  #FrontendHero {
    .FrontendHero {
      .backdropBlur {
        width: 485px;
        height: 591px;
        top: 116px;
      }
      .an11 {
        top: 586px;
        left: 372px;
      }
      .an2 {
        left: 289px;
      }
      .an4media {
        top: 511px;
        left: 10px;
      }
      .an1media {
        left: 21px;
        top: 132px;
      }
      .an5media {
        top: 159px;
        position: absolute;
        left: 205px;
      }
    }
  }
}

@media (max-width: 450px) {
  #FrontendHero {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .FrontendHero {
      .backdropBlur {
        position: absolute;
        width: 399px;
        height: 378px;
        left: 33px;
        margin-left: -20px;
        top: 90px;
        background: linear-gradient(
                        289.3deg,
                        rgba(19, 19, 19, 0.3) 17.11%,
                        rgba(28, 28, 28, 0.261) 100%
        );
        -webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(7.5px);
        border-radius: 20px;
      }
      .media91 {
        position: absolute;
        left: 23%;
        width: 221px;
        top: 35%;
        height: 220px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 91\ -\ @designrip.png");
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .media56 {
        position: absolute;
        left: 10%;
        width: 126px;
        top: 64%;
        height: 122px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 56\ -\ @designrip.png");
        animation: an7 5s ease-in infinite alternate;
        -webkit-animation: an7 5s ease-in infinite alternate;
      }
      .media80 {
        position: absolute;
        left: 66%;
        width: 112px;
        top: 22%;
        height: 106px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 80\ -\ @designrip.png");
        animation: an10 5s ease-in infinite alternate;
        -webkit-animation: an10 5s ease-in infinite alternate;
      }
      .media38 {
        position: absolute;
        left: 14%;
        width: 95px;
        top: 22%;
        height: 92px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 38\ -\ @designrip.png");
        animation: an9 5s ease-in infinite alternate;
        -webkit-animation: an9 5s ease-in infinite alternate;
      }
      .media62 {
        position: absolute;
        left: 6%;
        width: 58px;
        top: 45%;
        height: 52px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 62\ -\ @designrip.png");
        animation: an2 5s ease-in infinite alternate;
        -webkit-animation: an2 5s ease-in infinite alternate;
      }
      .media33 {
        position: absolute;
        left: 45%;
        width: 50px;
        top: 26%;
        height: 47px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 33\ -\ @designrip.png");
        animation: an5 5s ease-in infinite alternate;
        -webkit-animation: an5 5s ease-in infinite alternate;
      }
      .media110 {
        position: absolute;
        left: 65%;
        width: 124px;
        top: 70%;
        height: 113px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 110\ -\ @designrip.png");
        animation: an4 5s ease-in infinite alternate;
        -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .media88 {
        position: absolute;
        left: 75%;
        width: 100px;
        top: 39%;
        height: 113px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 88\ -\ @designrip.png");
        animation: an1 5s ease-in infinite alternate;
        -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .media54 {
        position: absolute;
        left: 71%;
        width: 70px;
        top: 56%;
        height: 62px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 54\ -\ @designrip.png");
        animation: an7 5s ease-in infinite alternate;
        -webkit-animation: an7 5s ease-in infinite alternate;
      }
      .an1 {
        display: none;
        // position: absolute;
        // top: 71px;
        // left: 475px;
        // animation: an1 5s ease-in infinite alternate;
        // -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .an4 {
        display: none;
        // position: absolute;
        // top: 91px;
        // left: 7px;
        // animation: an4 5s ease-in infinite alternate;
        // -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .an6 {
        display: none;
        // position: absolute;
        // top: 454px;
        // left: 75px;
        // animation: an6 5s ease-in infinite alternate;
        // -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an7 {
        display: none;
      }
      .an5 {
        display: none;
      }

      .an3 {
        display: none;
      }
      .an2 {
        display: none;
      }
      .an11 {
        display: none;
      }
      .an12 {
        display: none;
      }
      .an8 {
        display: none;
      }
      .an10 {
        display: none;
      }
      .an9 {
        display: none;
      }
      .an1media {
        display: none;
      }
      .an3media {
        display: none;
      }
      .an4media {
        display: none;
      }
      .an5media {
        display: none;
      }
    }
  }
}
@media (max-width: 376px) {
  #FrontendHero {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .FrontendHero {
      .backdropBlur {
        position: absolute;
        width: 324px;
        height: 378px;
        left: 33px;
        margin-left: -20px;
        top: 90px;
        background: linear-gradient(
                        289.3deg,
                        rgba(19, 19, 19, 0.3) 17.11%,
                        rgba(28, 28, 28, 0.261) 100%
        );
        -webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(7.5px);
        border-radius: 20px;
      }
      .media91 {
        position: absolute;
        left: 16%;
        width: 221px;
        top: 35%;
        height: 220px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 91\ -\ @designrip.png");
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .media56 {
        position: absolute;
        left: 1%;
        width: 126px;
        top: 64%;
        height: 122px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 56\ -\ @designrip.png");
        animation: an7 5s ease-in infinite alternate;
        -webkit-animation: an7 5s ease-in infinite alternate;
      }
      .media80 {
        position: absolute;
        left: 65%;
        width: 107px;
        top: 22%;
        height: 106px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 80\ -\ @designrip.png");
        animation: an10 5s ease-in infinite alternate;
        -webkit-animation: an10 5s ease-in infinite alternate;
      }
      .media38 {
        position: absolute;
        left: 6%;
        width: 95px;
        top: 22%;
        height: 92px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 38\ -\ @designrip.png");
        animation: an9 5s ease-in infinite alternate;
        -webkit-animation: an9 5s ease-in infinite alternate;
      }
      .media62 {
        position: absolute;
        left: 2%;
        width: 58px;
        top: 45%;
        height: 52px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 62\ -\ @designrip.png");
        animation: an2 5s ease-in infinite alternate;
        -webkit-animation: an2 5s ease-in infinite alternate;
      }
      .media33 {
        position: absolute;
        left: 45%;
        width: 50px;
        top: 26%;
        height: 47px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 33\ -\ @designrip.png");
        animation: an5 5s ease-in infinite alternate;
        -webkit-animation: an5 5s ease-in infinite alternate;
      }
      .media110 {
        position: absolute;
        left: 65%;
        width: 124px;
        top: 70%;
        height: 113px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 110\ -\ @designrip.png");
        animation: an4 5s ease-in infinite alternate;
        -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .media88 {
        position: absolute;
        left: 70%;
        width: 100px;
        top: 39%;
        height: 113px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 88\ -\ @designrip.png");
        animation: an1 5s ease-in infinite alternate;
        -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .media54 {
        position: absolute;
        left: 71%;
        width: 70px;
        top: 56%;
        height: 62px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 54\ -\ @designrip.png");
        animation: an7 5s ease-in infinite alternate;
        -webkit-animation: an7 5s ease-in infinite alternate;
      }
      .an1 {
        display: none;
        // position: absolute;
        // top: 71px;
        // left: 475px;
        // animation: an1 5s ease-in infinite alternate;
        // -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .an4 {
        display: none;
        // position: absolute;
        // top: 91px;
        // left: 7px;
        // animation: an4 5s ease-in infinite alternate;
        // -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .an6 {
        display: none;
        // position: absolute;
        // top: 454px;
        // left: 75px;
        // animation: an6 5s ease-in infinite alternate;
        // -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an7 {
        display: none;
      }
      .an5 {
        display: none;
      }

      .an3 {
        display: none;
      }
      .an2 {
        display: none;
      }
      .an11 {
        display: none;
      }
      .an12 {
        display: none;
      }
      .an8 {
        display: none;
      }
      .an10 {
        display: none;
      }
      .an9 {
        display: none;
      }
      .an1media {
        display: none;
      }
      .an3media {
        display: none;
      }
      .an4media {
        display: none;
      }
      .an5media {
        display: none;
      }
    }
  }
}
@media (max-width: 320px) {
  #FrontendHero {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .FrontendHero {
      .backdropBlur {
        position: absolute;
        width: 270px;
        height: 341px;
        left: 33px;
        margin-left: -20px;
        top: 104px;
        background: linear-gradient(
                        289.3deg,
                        rgba(19, 19, 19, 0.3) 17.11%,
                        rgba(28, 28, 28, 0.261) 100%
        );
        -webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(7.5px);
        border-radius: 20px;
      }
      .media91 {
        position: absolute;
        left: 16%;
        width: 221px;
        top: 35%;
        height: 220px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 91\ -\ @designrip.png");
        animation: an6 5s ease-in infinite alternate;
        -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .media56 {
        position: absolute;
        left: 1%;
        width: 126px;
        top: 64%;
        height: 122px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 56\ -\ @designrip.png");
        animation: an7 5s ease-in infinite alternate;
        -webkit-animation: an7 5s ease-in infinite alternate;
      }
      .media80 {
        position: absolute;
        left: 61%;
        width: 107px;
        top: 22%;
        height: 106px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 80\ -\ @designrip.png");
        animation: an10 5s ease-in infinite alternate;
        -webkit-animation: an10 5s ease-in infinite alternate;
      }
      .media38 {
        position: absolute;
        left: 6%;
        width: 95px;
        top: 22%;
        height: 92px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 38\ -\ @designrip.png");
        animation: an9 5s ease-in infinite alternate;
        -webkit-animation: an9 5s ease-in infinite alternate;
      }
      .media62 {
        position: absolute;
        left: 2%;
        width: 58px;
        top: 45%;
        height: 52px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 62\ -\ @designrip.png");
        animation: an2 5s ease-in infinite alternate;
        -webkit-animation: an2 5s ease-in infinite alternate;
      }
      .media33 {
        position: absolute;
        left: 40%;
        width: 50px;
        top: 26%;
        height: 47px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 33\ -\ @designrip.png");
        animation: an5 5s ease-in infinite alternate;
        -webkit-animation: an5 5s ease-in infinite alternate;
      }
      .media110 {
        position: absolute;
        left: 60%;
        width: 124px;
        top: 70%;
        height: 113px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 110\ -\ @designrip.png");
        animation: an4 5s ease-in infinite alternate;
        -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .media88 {
        position: absolute;
        left: 67%;
        width: 100px;
        top: 39%;
        height: 113px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 88\ -\ @designrip.png");
        animation: an1 5s ease-in infinite alternate;
        -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .media54 {
        position: absolute;
        left: 71%;
        width: 70px;
        top: 56%;
        height: 62px;
        //background-image: url("../../../components/image/mainPart/mainMedia/Black\ 54\ -\ @designrip.png");
        animation: an7 5s ease-in infinite alternate;
        -webkit-animation: an7 5s ease-in infinite alternate;
      }
      .an1 {
        display: none;
        // position: absolute;
        // top: 71px;
        // left: 475px;
        // animation: an1 5s ease-in infinite alternate;
        // -webkit-animation: an1 5s ease-in infinite alternate;
      }
      .an4 {
        display: none;
        // position: absolute;
        // top: 91px;
        // left: 7px;
        // animation: an4 5s ease-in infinite alternate;
        // -webkit-animation: an4 5s ease-in infinite alternate;
      }
      .an6 {
        display: none;
        // position: absolute;
        // top: 454px;
        // left: 75px;
        // animation: an6 5s ease-in infinite alternate;
        // -webkit-animation: an6 5s ease-in infinite alternate;
      }
      .an7 {
        display: none;
      }
      .an5 {
        display: none;
      }

      .an3 {
        display: none;
      }
      .an2 {
        display: none;
      }
      .an11 {
        display: none;
      }
      .an12 {
        display: none;
      }
      .an8 {
        display: none;
      }
      .an10 {
        display: none;
      }
      .an9 {
        display: none;
      }
      .an1media {
        display: none;
      }
      .an3media {
        display: none;
      }
      .an4media {
        display: none;
      }
      .an5media {
        display: none;
      }
    }
  }
}
