@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.cdnfonts.com/css/muller-narrow');
//@import './frontendMedia.scss';

#frontEnd {
  //margin-top: 850px;
  padding-top: 350px;
  .frontEnd {
    &--inform {
      display: flex;
      align-items: flex-start;

      &__question {

        h3 {
          font-size: 36px;
          color: black;
          margin-top: 0;
          width: 379px;
        }

        span {
          font-size: 36px;
          color: #EC3025;
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        margin-left: 100px;

        p {
          font-weight: 400;
          font-size: 19px;
          line-height: 30px;
          margin: 15px 0;
          color: rgba(27, 27, 27, 0.8);
          width: 617px;
        }

        h4 {
          font-weight: 400;
          font-size: 19px;
          line-height: 25px;
          color: rgba(27, 27, 27, 0.8);
          width: 662px;
          margin: 0;
        }
      }
    }

    &--courses {
      padding: 50px 0;
      h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 36px;
        display: flex;
        align-items: center;
        color: #000000;
        //margin: 55px 0;
        margin: 100px 0;
        width: 262px;

      }

      &__inform {
        display: flex;
        justify-content: space-between;


        &--first {
          &__fon {
            width: 380px;
            height: 202px;
            left: 110px;
            top: 1430px;
            background: linear-gradient(180deg, #EDF1FF 0%, rgba(203, 214, 255, 0.65) 100%);
            border-radius: 20px;
            display: flex;
            justify-content: center;

            img {
              width: 196px;
              height: 170px;
              left: 202px;
              padding: 31px;

            }
          }

          h3 {
            font-weight: 400;
            font-size: 24px;
            line-height: 80px;
            display: flex;
            align-items: center;
            color: #000000;
          }

          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            /* or 23px */

            display: flex;
            align-items: center;

            color: rgba(27, 27, 27, 0.8);

          }
        }
      }
    }

    &--title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 45px 0;
      //margin: 70px 0;

      width: 1280px;
      height: 229px;
      left: 110px;
      top: 1866px;

      /* red */

      border: 2px solid #EC3025;
      border-radius: 125px;

      &__first {
        padding: 0 60px;

        h1 {
          font-weight: 500;
          font-size: 64px;
          line-height: 64px;
          display: flex;
          align-items: center;
          color: #EC3025;
          flex-direction: column;
          text-align: center;

          span {
            margin: 10px 0;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;

            color: #1B1B1B;
          }
        }

        h4 {

        }
      }
    }

    &--buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 100px 0;


      button {
        width: 590px;
        height: 205px;
        background: linear-gradient(289.3deg, #131313 17.11%, rgba(28, 28, 28, 0.87) 100%);
        border-radius: 30px;

        font-weight: 500;
        font-size: 36px;
        line-height: 36px;
        /* identical to box height */

        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;

        &:hover {
          background: #3f3535;
          border: none;
        }
      }
    }
    &--ofline{
      position: relative;
      display: flex;
      &__first{
        position: absolute;
        bottom: -4rem;
        left: 2rem;
        display: none;
        width: 589px;
        height: 468px;
        background: #FF563F;
        transition: 2s;
        z-index: 4;
        border-radius: 30px;
        &:hover{
          transform: scale(1.0009);
        }

        &--three{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          h1{
            margin: 32px 232px 0 1px;
            font-family: 'Muller',sans-serif;
            font-weight: 500;
            font-size: 40px;
            line-height: 40px;
            color: #FFFFFF;

          }
          li{
            padding: 10px 0;
            font-family: 'SF Pro Display',sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            width: 388px;
            color: rgba(255, 255, 255, 0.8);
          }

        }
        &--for{

          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          z-index: 99;

          h1{
            margin: 32px 232px 0 1px;
            font-family: 'Muller',sans-serif;
            font-weight: 500;
            font-size: 40px;
            line-height: 40px;
            color: #FFFFFF;

          }
          li{
            padding: 10px 0;
            font-family: 'SF Pro Display',sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            width: 388px;
            color: rgba(255, 255, 255, 0.8);
          }

        }
      }

      &__for{
        position: absolute;
        bottom: -4rem;
        left: 42rem;
        display: none;
        width: 603px;
        backdrop-filter: blur(5px);
        height: 468px;
        z-index: 4;
        background: #FF563F;
        box-shadow: rgba(35, 35, 35, 0.48);
        border-radius: 30px;


        &--three{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          h1{
            margin: 32px 232px 0 1px;
            font-family: 'Muller',sans-serif;
            font-weight: 500;
            font-size: 40px;
            line-height: 40px;
            color: #FFFFFF;

          }
          li{
            padding: 10px 0;
            font-family: 'SF Pro Display',sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            width: 388px;
            color: rgba(255, 255, 255, 0.8);
          }

        }
        &--for{

          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          z-index: 99;

          h1{
            margin: 32px 232px 0 1px;
            font-family: 'Muller',sans-serif;
            font-weight: 500;
            font-size: 40px;
            line-height: 40px;
            color: #FFFFFF;

          }
          li{
            padding: 10px 0;
            font-family: 'SF Pro Display',sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            width: 388px;
            color: rgba(255, 255, 255, 0.8);
          }

        }
      }
    }
    &--window{
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.66);
      backdrop-filter: blur(4px);
    }
    &--window2{
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.66);
      backdrop-filter: blur(4px);
    }


  }

  .frontEnd--bottom {
    //width: 1440px;
    //height: 895px;
    left: 0;
    top: 2540px;
    background: #EFEFEF;


    .frontEnd--cours {

      display: flex;
      justify-content: space-between;

      &__text {
        h2 {
          font-weight: 500;
          font-size: 40px;
          line-height: 40px;
          display: flex;
          align-items: center;
          color: #EC3025;

        }
      }

      &__informs {
        padding-bottom: 60px;

        &--first {


          &__title {
            display: flex;
            justify-content: space-between;

            h3 {
              font-weight: 500;
              font-size: 24px;
              line-height: 24px;
              display: flex;
              align-items: center;
              color: #000000;

            }

            p {
              font-weight: 400;
              font-size: 19px;
              line-height: 140%;
              padding-top: 29px;


              display: flex;
              align-items: center;

              color: rgba(27, 27, 27, 0.8);
            }
          }

          hr {
            width: 903px;
            height: 0;

            border: 1px solid #000000;
            transform: rotate(0.03deg);
          }


        }
      }
    }

  }

  .frontEnd--certificate {
    padding: 70px 0;
    background: linear-gradient(289.3deg, #131313 17.11%, rgba(28, 28, 28, 0.87) 100%);


    &__inform {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--text {

        h3 {
          font-weight: 500;
          font-size: 40px;
          display: flex;
          padding-bottom: 50px;
          align-items: center;
          color: #FFFFFF;
        }

        h6 {
          font-weight: 400;
          font-size: 19px;
          line-height: 23px;
          display: flex;
          align-items: center;
          color: rgba(255, 255, 255, 0.8);
        }

        &__buttons {
          margin: 30px 0;

          button {

            padding: 10px 15px;

            padding: 5px 10px;
            background: white;
            color: black;
            border-radius: 25px;
            margin: 0 4px;
            border: none;
            transition: .4s;

            &:hover {
              background: #EC3025;
              color: white;
            }
          }

        }
      }

      &--img {

        img{
          width: 600px;
        }
      }

    }
  }

  .designer {
    padding: 70px 0;

    &--choose {
      width: 1280px;
      height: 179px;
      left: 110px;
      top: 4052px;
      background: #FF563F;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px 0;

      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #FFFFFF;
      }

      p {
        font-weight: 400;
        font-size: 19px;
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.8);
      }

    }

    &--fon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 30px 0;

      &__application {
        width: 800px;
        height: 344px;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        //align-items: center;
        //justify-content: center;
        background: #FF563F;
        border-radius: 30px;
        flex-direction: column;


        input {
          display: flex;
          //flex-direction: row;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 588px;
          height: 63px;
          padding: 0 20px;
          background: #FFF8F8;
          border-radius: 20px;
          margin: 10px 0;

        }

        &--checked {
          width: 646px;
          margin: 10px 82px;
        }

        &--checked {
          display: flex;
          align-items: center;

          input {
            width: 15px;
            height: 15px;
            margin: 0 10px;
          }
          .input{
            margin-left: 40px;
            background: transparent;
          }

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            display: flex;
            align-items: center;
            color: rgba(255, 255, 255, 0.7);
          }
        }

        button {
          padding: 17px 0;
          width: 629px;
          width: 588px;
          background: #090A0C;
          border-radius: 44px;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          /* identical to box height */

          display: flex;
          align-items: center;
          justify-content: center;

          color: #FFFFFF;
          margin: 10px 82px;
        }
      }
    }
  }

  .mentor {
    background: #EFEFEF;
    padding: 100px 0;

    &--title {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h2 {
        font-weight: 500;
        font-size: 40px;
        /* красный */
        color: #EC3025;
        margin-bottom: -35px;
      }

      h3 {
        font-weight: 500;
        font-size: 40px;
        color: #000000;
      }
    }

    &--boys {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 0;

      &__first {

        h3 {
          font-weight: 400;
          font-size: 24px;
          line-height: 130%;

          display: flex;
          align-items: center;
          text-align: center;

          color: #000000;
        }

        p {
          font-weight: 400;
          font-size: 19px;
          line-height: 140%;
          display: flex;
          align-items: center;

          color: rgba(27, 27, 27, 0.8);


        }
      }
    }

    &--connection {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;

      &__video{
        display: flex;
        .video{
          width: 380px;
          height: 215px;
          border-radius: 30px;
          margin: 15px 30px;
        }
      }

      &__text {

        h2 {
          font-weight: 500;
          font-size: 36px;
          line-height: 36px;
          color: #000000;
          padding-bottom: 20px;
        }

        p {
          font-weight: 400;
          font-size: 19px;
          line-height: 140%;
          color: #1D1D20;
        }
      }
    }


  }

  .program {
    background: #f6f6f6;

    &--courses {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;

      h1 {
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        /* identical to box height */
        margin-top: 10px;

        display: flex;
        align-items: center;

        color: #EC3025;
      }

      p {
        font-weight: 400;
        font-size: 19px;
        line-height: 140%;
        /* or 27px */
        padding-top: 69px;

        display: flex;
        align-items: center;

        color: rgba(27, 27, 27, 0.8);
      }
    }


  }


  #bg{
    background: #f6f6f6 ;
    .accordionFront{
      padding: 50px 0 50px 0;
      .accord{
        display: flex;
        width: 1379px;
        height: 75px;
        background: white;
        border-radius: 25px;
        margin: 10px 0 0 0;
        &--block{
          h1{
            position: relative;
            top: 50px ;
            left: -12px;
            width: 592px;
            color: rgba(27, 27, 27, 0.8)
          }
          li{
            top: 70px;
            left: 0;
            position: relative;
            list-style: disc;
          }
        }
        &--leftBlock {
          display: flex;
          align-items: center;
          img {
            margin: 0 14px 0 24px;
          }
        }
        &--rightBlock{
          margin: 26px 0 0 68.5rem;
          color: black;
          font-size: 27px;
        }
      }
    }

  }



}




