#mentor {
  background: #EFEFEF;
  padding: 100px 0;

  .mentor{
    &--title {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h2 {
        font-weight: 500;
        font-size: 40px;
        /* красный */
        color: #EC3025;
        margin-bottom: -35px;
      }

      h3 {
        font-weight: 500;
        font-size: 40px;
        color: #000000;
        padding-bottom: 15px;
      }
    }
    &--blocks img{
      padding: 0 10px;
    }

    &--boys {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 0;

      &__first {
        h3 {
          font-weight: 400;
          font-size: 24px;
          line-height: 130%;
          display: flex;
          align-items: center;
          text-align: center;
          margin: 9px 0 0 13px ;
          color: #000000;
        }

        p {
          margin: 0 0 0 10px ;
          font-weight: 400;
          font-size: 19px;
          line-height: 140%;
          display: flex;
          align-items: center;
          color: rgba(27, 27, 27, 0.8);


        }
      }
    }

    &--connection {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;

      &__video{
        display: flex;
        .video{
          width: 380px;
          height: 215px;
          border-radius: 30px;
          margin: 15px 30px;
        }
      }

      &__text {

        h2 {
          font-weight: 500;
          font-size: 36px;
          line-height: 36px;
          color: #000000;
          padding-bottom: 20px;
        }

        p {
          font-weight: 400;
          font-size: 19px;
          line-height: 140%;
          color: #1D1D20;
        }
      }
    }

  }


}

@media (max-width: 1200px) {
  #mentor .mentor--connection__video .video {
    width: 334px;
    height: 215px;
    margin: 15px 4px;
  }
}

@media (max-width: 1040px) {
  #mentor .mentor--connection__video .video {
    width: 281px;
    height: 215px;
    margin: 15px 5px;
  }
  #mentor .mentor--boys__first p {
    margin: 0 0 0 10px;
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: rgba(27, 27, 27, 0.8);
    br{
      display: none;
    }
  }
}

@media (max-width: 992px) {
  #mentor .mentor--connection__video .video {
    width: 252px;
    height: 157px;
    margin: 15px 6px;
  }
  #mentor .mentor--connection__text h2 {
    font-size: 22px;
    line-height: 23px;
    padding-bottom: 20px;
    br{
      display: none;
    }
  }
  #mentor .mentor--connection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 115px;
  }
  #mentor .mentor--connection__text p {
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    color: #1D1D20;
    br{
      display: none;
    }
  }
}

@media (max-width: 768px) {
  #mentor {
    background: #EFEFEF;
    padding: 100px 0;

    .mentor {
      &--title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
          font-weight: 500;
          font-size: 30px;
          /* красный */
          color: #EC3025;
          margin-bottom: -35px;
        }

        h3 {
          font-weight: 500;
          font-size: 25px;
          color: #000000;
          margin-bottom: 20px;
        }
      }

      &--boys {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;

        &__first {
          margin: 10px 15px;

          h3 {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;

            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;
          }

          p {
            font-weight: 400;
            font-size: 10px;
            line-height: 140%;
            display: flex;
            align-items: center;
            margin: 5px 0 0 12px;
            color: rgba(27, 27, 27, 0.8);


          }
        }
      }

      &--connection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 100px;

        &__video {
          display: flex;

          .video {
            width: 298px;
            height: 175px;
            border-radius: 20px;
            margin: 15px 5px;
          }
        }

        &__text {

          h2 {
            font-weight: 500;
            font-size: 26px;
            line-height: 25px;
            color: #000000;
            padding-bottom: 10px;

            br {
              display: none;
            }
          }

          p {
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            color: #1D1D20;
            br{
              display: block;
            }
          }
        }
      }

    }


  }

}

@media (max-width: 576px) {
  #mentor {
    background: #EFEFEF;
    padding: 100px 0;

    .mentor {
      &--title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
          font-weight: 500;
          font-size: 30px;
          /* красный */
          color: #EC3025;
          margin-bottom: -35px;
        }

        h3 {
          font-weight: 500;
          font-size: 25px;
          color: #000000;
          margin-bottom: 20px;
        }
      }

      &--boys {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;

        &__first {
          margin: 10px 15px;

          h3 {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;

            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;
          }

          p {
            font-weight: 400;
            font-size: 10px;
            line-height: 140%;
            display: flex;
            align-items: center;
            margin: 5px 0;
            color: rgba(27, 27, 27, 0.8);


          }
        }
      }

      &--connection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 50px;

        &__video {
          display: flex;

          .video {
            width: 258px;
            height: 175px;
            border-radius: 20px;
            margin: 15px 5px;
          }
        }

        &__text {

          h2 {
            font-weight: 500;
            font-size: 26px;
            line-height: 25px;
            color: #000000;
            padding-bottom: 10px;

            br {
              display: none;
            }
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #1D1D20;
            br{
              display: none;
            }
          }
        }
      }

    }


  }

}

@media (max-width: 451px) {
  #mentor {
    background: #EFEFEF;
    padding: 100px 0;

    .mentor {
      &--title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
          font-weight: 500;
          font-size: 30px;
          /* красный */
          color: #EC3025;
          margin-bottom: -35px;
        }

        h3 {
          font-weight: 500;
          font-size: 25px;
          color: #000000;
          margin-bottom: 20px;
        }
      }

      &--boys {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;

        &__first {
          margin: 10px 15px;

          h3 {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;

            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;
          }

          p {
            font-weight: 400;
            font-size: 10px;
            line-height: 140%;
            display: flex;
            align-items: center;
            margin: 5px 0;
            color: rgba(27, 27, 27, 0.8);


          }
        }
      }

      &--connection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 50px;

        &__video {
          display: flex;

          .video {
            width: 197px;
            height: 140px;
            border-radius: 20px;
            margin: 15px 5px;
          }
        }

        &__text {

          h2 {
            font-weight: 500;
            font-size: 22px;
            line-height: 25px;
            color: #000000;
            padding-bottom: 10px;

            br {
              display: none;
            }
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #1D1D20;
          }
        }
      }

    }


  }

}

@media (max-width: 500px) {
  #mentor {
    background: #EFEFEF;
    padding: 100px 0;

    .mentor {
      &--title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
          font-weight: 500;
          font-size: 30px;
          /* красный */
          color: #EC3025;
          margin-bottom: -35px;
        }

        h3 {
          font-weight: 500;
          font-size: 25px;
          color: #000000;
          margin-bottom: 20px;
        }
      }

      &--boys {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;

        &__first {
          margin: 10px 2px;

          h3 {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;

            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;
          }

          p {
            font-weight: 400;
            font-size: 10px;
            line-height: 140%;
            display: flex;
            align-items: center;
            margin: 5px 0;
            color: rgba(27, 27, 27, 0.8);


          }
        }
      }

      &--connection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 50px;

        &__video {
          display: flex;

          .video {
            width: 200px;
            height: 175px;
            border-radius: 20px;
            margin: 15px 5px;
          }
        }

        &__text {

          h2 {
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            color: #000000;
            padding-bottom: 10px;

            br {
              display: none;
            }
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #1D1D20;
          }
        }
      }

    }


  }
}

@media (max-width: 400px) {
  #mentor {
    background: #EFEFEF;
    padding: 100px 0;

    .mentor {
      &--title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
          font-weight: 500;
          font-size: 30px;
          /* красный */
          color: #EC3025;
          margin-bottom: -35px;
        }

        h3 {
          font-weight: 500;
          font-size: 25px;
          color: #000000;
          margin-bottom: 20px;
        }
      }

      &--boys {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;

        &__first {
          margin: 10px 2px;

          h3 {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;

            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;
          }

          p {
            font-weight: 400;
            font-size: 10px;
            line-height: 140%;
            display: flex;
            align-items: center;
            margin: 5px 0;
            color: rgba(27, 27, 27, 0.8);


          }
        }
      }

      &--connection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 50px;

        &__video {
          display: flex;

          .video {
            width: 170px;
            height: 115px;
            border-radius: 20px;
            margin: 15px 5px;
          }
        }

        &__text {

          h2 {
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            color: #000000;
            padding-bottom: 10px;

            br {
              display: none;
            }
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #1D1D20;
          }
        }
      }

    }


  }
}

@media (max-width: 376px) {

  //.slick-prev, .slick-next {
  //  position: absolute;
  //  z-index: 10000;
  //}
  //
  //.slick-prev {
  //  width: 100px !important;
  //  left: -150px !important;
  //  top: 200px !important;
  //}
  //
  //.slick-next {
  //  width: 100px !important;
  //  left: -250px !important;
  //  top: 200px !important;
  //}
  //
  //.slick-prev:active {
  //  transition: 0.2s ease-in-out;
  //  padding: 4px;
  //  width: 50px;
  //}
  //
  //.slick-next:active {
  //  transition: 0.2s ease-in-out;
  //  padding: 4px;
  //  width: 50px;
  //}

  .slick-arrow {
    margin-top: 25rem;
    transform: rotate(90deg);
    display: flex;
    flex-direction: column;

  }
  .arrowPrev {

  }
  .slick-next {
    transform: rotate(90deg);
    margin-right: 10rem;

  }

  #mentor {
    background: #EFEFEF;
    padding: 100px 0;

    .mentor {
      &--title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
          font-weight: 500;
          font-size: 30px;
          /* красный */
          color: #EC3025;
          margin-bottom: -35px;
        }

        h3 {
          font-weight: 500;
          font-size: 25px;
          color: #000000;
          margin-bottom: 20px;
        }
      }

      &--boys {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;

        &__first {
          margin: 10px 2px;

          h3 {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;

            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;
          }

          p {
            font-weight: 400;
            font-size: 10px;
            line-height: 140%;
            display: flex;
            align-items: center;
            margin: 5px 0;
            color: rgba(27, 27, 27, 0.8);


          }
        }
      }

      &--connection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 50px;

        &__video {
          display: flex;

          .video {
            width: 170px;
            height: 115px;
            border-radius: 20px;
            margin: 15px 5px;
          }
        }

        &__text {

          h2 {
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            color: #000000;
            padding-bottom: 10px;

            br {
              display: none;
            }
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #1D1D20;
          }
        }
      }

    }


  }

}

@media (max-width: 351px) {


  .slick-arrow {
    margin-top: 25rem;
    transform: rotate(90deg);
    display: flex;
    flex-direction: column;

  }
  .arrowPrev {

  }
  .slick-next {
    transform: rotate(90deg);
    margin-right: 10rem;

  }

  #mentor {
    background: #EFEFEF;
    padding: 100px 0;

    .mentor {
      &--title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
          font-weight: 500;
          font-size: 30px;
          /* красный */
          color: #EC3025;
          margin-bottom: -35px;
        }

        h3 {
          font-weight: 500;
          font-size: 25px;
          color: #000000;
          margin-bottom: 20px;
        }
      }

      &--boys {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;

        &__first {
          margin: 10px 2px;

          h3 {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;

            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;
          }

          p {
            font-weight: 400;
            font-size: 10px;
            line-height: 140%;
            display: flex;
            align-items: center;
            margin: 5px 0;
            color: rgba(27, 27, 27, 0.8);


          }
        }
      }

      &--connection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 50px;

        &__video {
          display: flex;

          .video {
            width: 150px;
            height: 115px;
            border-radius: 20px;
            margin: 15px 5px;
          }
        }

        &__text {

          h2 {
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            color: #000000;
            padding-bottom: 10px;

            br {
              display: none;
            }
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #1D1D20;
          }
        }
      }

    }


  }

}


@media (max-width: 320px) {

  //.slick-prev, .slick-next {
  //  position: absolute;
  //  z-index: 10000;
  //}
  //
  //.slick-prev {
  //  width: 100px !important;
  //  left: -150px !important;
  //  top: 200px !important;
  //}
  //
  //.slick-next {
  //  width: 100px !important;
  //  left: -250px !important;
  //  top: 200px !important;
  //}
  //
  //.slick-prev:active {
  //  transition: 0.2s ease-in-out;
  //  padding: 4px;
  //  width: 50px;
  //}
  //
  //.slick-next:active {
  //  transition: 0.2s ease-in-out;
  //  padding: 4px;
  //  width: 50px;
  //}

  .slick-arrow {
    margin-top: 25rem;
    transform: rotate(90deg);
    display: flex;
    flex-direction: column;

  }
  .arrowPrev {

  }
  .slick-next {
    transform: rotate(90deg);
    margin-right: 10rem;

  }

  #mentor {
    background: #EFEFEF;
    padding: 100px 0;

    .mentor {
      &--title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
          font-weight: 500;
          font-size: 30px;
          /* красный */
          color: #EC3025;
          margin-bottom: -35px;
        }

        h3 {
          font-weight: 500;
          font-size: 25px;
          color: #000000;
          margin-bottom: 20px;
        }
      }

      &--boys {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;

        &__first {
          margin: 10px 0;

          h3 {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            display: flex;
            align-items: center;
            text-align: center;
            color: #000000;
          }
          p {
            font-weight: 400;
            font-size: 10px;
            line-height: 140%;
            display: flex;
            width: 120px;
            align-items: center;
            margin: 0 0 0 14px;
            color: rgba(27, 27, 27, 0.8);
          }
        }
      }

      &--connection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 50px;

        &__video {
          display: flex;

          .video {
            width: 130px;
            height: 115px;
            border-radius: 20px;
            margin: 15px 10px;
          }
        }

        &__text {

          h2 {
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            color: #000000;
            padding-bottom: 10px;

            br {
              display: none;
            }
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #1D1D20;
          }
        }
      }

    }


  }

}






